﻿
<!--Admin Dashboard Menu-->
<ul class="msc-dash-nav">
    <li>@Html.ActionLink("Business Settings", "BusinessSettings", "CBusinessSettings")</li>
    <li>@Html.ActionLink("Layout Settings", "LayoutPrefs", "CUserLayoutPreferences")</li>
    <li>@Html.ActionLink("Layout Editor", "LayoutEditor", "CUserLayoutPreferences", null, new { id = "aLayoutEditor" })</li>
    <li>@Html.ActionLink("Manage Images", "ManageImages", "CUserImages")</li>
    <li>@Html.ActionLink("Manage Instructors", "ManageInstructors", "CInstructor")</li>
    <li>@Html.ActionLink("Manage Students", "ManageStudents", "CStudent")</li>
    <li>@Html.ActionLink("Academy Statistics", "AcademyStat", "Stat")</li>
    <li>@Html.ActionLink("Calendar", "AdminSchedule", "Calendar")</li>
</ul>
<script src="~/Scripts/jdash-menu.js"></script>
<script>
    var dash = $('.msc-dash-nav');
    enableLinks();

    function enableLinks() {
        $.get('@Url.Action("HasCalendar")', function (data) {
            if (data == "False") {
                dash.children('li').not(':first').hide();
            }
        });
    };
</script>


