﻿@{
    ViewBag.Title = "Dashboard";
}
<input type="hidden" id="hdnDashMarker" value="@TempData["hdnDashMarker"]" />
<div class="msc-dash-container">
        <div class="msc-dash-nav-cell">
            @if (ViewBag.IsAdmin)
            { 
                @Html.Partial("AdminMenu")
            }
            else if (ViewBag.IsInstructor)
            {
                @Html.Partial("InstructorMenu")
            }
            else if (ViewBag.IsEnrolled)
            {
                @Html.Partial("StudentMenu")
            }
        </div>
            <div id="dash-cluster">

            </div>
    </div>

<script>
    $(document).ready(function () {
        var pwaitdialog = new pwait();
        pwaitdialog.setEnabled(true);
    });
</script>

