﻿

<ul class="msc-dash-nav">
    <li>@Html.ActionLink("Manage Profile", "InstructorProfile", "CInstructor", new { instructorId = ViewBag.InstructorId, blnIsPublic = false }, null)</li>
    <li>@Html.ActionLink("Manage Availablity", "InstructorAvailability", "CInstructor", new { instructorId = ViewBag.InstructorId }, null)</li>
    <li>@Html.ActionLink("Manage Students", "ManageStudents", "CStudent", new { instructorId = ViewBag.InstructorId }, null)</li>
    <li>@Html.ActionLink("Manage Lessons", "ManageLessonsInstructor", "CLesson", new { instructorId = ViewBag.InstructorId }, null)</li>
    <li>@Html.ActionLink("Lesson Review", "ReviewLessonsInstructor", "CLesson", new { instructorId = ViewBag.InstructorId }, null)</li>
    <li>@Html.ActionLink("Calendar", "InstructorSchedule", "Calendar")</li>
</ul>


<script src="~/Scripts/jdash-menu.js"></script>
