﻿
<ul class="msc-dash-nav">
    <li>@Html.ActionLink("Manage Profile", "StudentProfile", "CStudent", new { studentId = ViewBag.StudentId }, null)</li>
    <li>@Html.ActionLink("Manage Lessons", "ManageLessonsStudent", "CLesson", new { studentId = ViewBag.StudentId }, null)</li>
    <li>@Html.ActionLink("Calendar", "StudentSchedule", "Calendar")</li>
</ul>

<script src="~/Scripts/jdash-menu.js"></script>