﻿@model List<MusicSEC.Models.CUserImage>

<div class="picture-grid-container">
    <ul id="ImageList">
    @foreach (var item in Model)
    {
        <li data-id="@item.CUserImageID">
            @Html.DisplayFor(model => item) 
        </li>
     }
    </ul>
</div>
<script>
    var imagelistLi = $('#ImageList li');
    var currentImageId = 0;

    imagelistLi.click(function () {
        currentImageId = $(this).data('id');
    });

    function getCurrentImageId() {
        return currentImageId;
    };
</script>

