﻿@model IEnumerable<MusicSEC.Models.CUserImage>

<div class="msc-dsp-row">
    <div class="msc-dsp-cell">
        @{Html.RenderAction("UploadImage", new { enableCaptions = true });}
    </div>
    <div class="msc-dsp-cell">
        <ul id="ImageList">
            @foreach (var item in Model)
            {
                <li data-id="@item.CUserImageID">
                    <div>
                        @Html.DisplayFor(model => item)
                        <input type="button" name="btnRemove" value="Remove Image" />
                    </div>
                </li>         
            }
        </ul>
    </div>
</div>
<script>
    var imageListLi = $('#ImageList li');
    var selectedImageId = 0;

    toggleRemoveButton();

    imageListLi.click(function () {
        selectedImageId = $(this).data('id');
        toggleRemoveButton();
    });

    $('input[name=btnRemove]').click(function () {
        $.post('@Url.Action("DeleteImage")', { imageId : selectedImageId }, function () {
            removeImage();
        });
    });

    function toggleRemoveButton() {
        $.each(imageListLi, function (index, li) {
            var li = $(li);
            if (li.data('id') == selectedImageId) {
                li.find('input[name=btnRemove]').css('display', 'block');
            }
            else {
                li.find('input[name=btnRemove]').css('display', 'none');
            }
        });
    };

    function removeImage() {
        $.each(imageListLi, function (index, li) {
            var li = $(li);
            if (li.data('id') == selectedImageId) {
                li.remove();
            }
        });
    };
</script>

