﻿@model MusicSEC.Models.CUserImage

@{
    ViewBag.Title = "UploadImage";
    bool blnEnableCaptions = ViewBag.EnableCaptions;
    bool blnEnableButtonPane = ViewBag.EnableButtonPane;
}

@using(Html.BeginForm("UploadImage", "CUserImages", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true);
<div class="msc-image-upload-container">
    
    @if (blnEnableCaptions)
    {
        <span>
            <label class="msc-label-for">Caption position:</label>
            <input type="radio" id="rdTop" value="top" name="rdCaptionPos" />
            <label class="msc-label-for">Top</label>
            <input type="radio" id="rdBottom" value="bottom" name="rdCaptionPos" checked="checked"/>
            <label class="msc-label-for">Bottom</label>
        </span>
    }
    @if (blnEnableCaptions)
    {
        <input type="text" id="topCaption" class="msc-caption" style="width:240px;"/>
    }
    <img src="~/Content/images/no_photo_icon.png"  id="imgUploadPreview" class="msc-profile-lg msc-block" style="max-height:225px;"/>
    @if (blnEnableCaptions)
    {
        <input type="text" id="bottomCaption" class="msc-caption" style="width:240px;"/>
    }
    <input type="file" name="fileUpload" id="fileUpload" accept="image/*" onchange="previewImage();" style="width:240px;" />
    @if(blnEnableButtonPane)
    {
        <span class="msc-button-pane">
            <input type="submit" value="Upload"  />
           @* <input type="button" value="Cancel"  />*@
        </span>
    }
    <input type="hidden" name="blnCaptionTop" />
    <input type="hidden" name="strCaption" />
</div>
}
<script src="~/Scripts/instructor-crud.js"></script>
<script>
    var radios = $("input[name=rdCaptionPos]");
    var topCaption = $("#topCaption");
    var bottomCaption = $("#bottomCaption");
    var hdnCaptionTop = $("input[name=blnCaptionTop]");
    var hdnCaption = $("input[name=strCaption]");
    setCaptionVisible();
    
    radios.change(setCaptionVisible);
    topCaption.change(setCaption);
    bottomCaption.change(setCaption);

    function setCaptionVisible() {
        if ($("input[name=rdCaptionPos]:checked").val() == "bottom") {
            topCaption.hide();
            topCaption.val("");
            bottomCaption.show();
            hdnCaptionTop.val(false);
        }
        else {
            topCaption.show();
            bottomCaption.hide();
            bottomCaption.val("");
            hdnCaptionTop.val(true);

        }
        setCaption();
    };

    function setCaption() {
        var caption = (hdnCaptionTop.val() == "true") ? topCaption.val() : bottomCaption.val();
        hdnCaption.val(caption);
    };
</script>