﻿@model MusicSEC.ViewModels.CStudentVM
<style>
    .createContainer {
        margin:auto;
        width:960px;
        height:525px;
        background-color:rgba(0,0,0,.5);
    }

        .createContainer .msc-instruction-blurb {
            width:900px;
            margin-left:-25px;
        }

    #createStep1, #createStep2, #createStep3 {
        width:90%;
        height:520px;
        margin:auto;
    }

        #createStep3 select {
            width:310px;
        }

        #createStep3 textarea {
            height:100px;
            width:600px;
        }

    #profile {
        height:325px;
    }

    .createContainer h2 {
        color:white;
        text-align:center;
    }

    input[name=btnSave] {
        margin-right:150px;
        float:right;
    }


</style>
@using (Html.BeginForm())
{ 
<div class="createContainer">    
    <div id="createStep1">
        <div style="display:inline-block;">
            <h2>Instructor</h2>
            @Html.Partial("_InstructorBlurb")
            <div id="profile">
                @if (Model.CInstructorID != null && Model.CInstructorID != 0)
                { Html.RenderAction("InstructorProfile", "CInstructor", new { instructorId = @Model.CInstructorID }); }
            </div>
            <input type="hidden" name="CInstructorID" value="@Model.CInstructorID"/>
            <input type="button" name="btnDialog" value="Choose Instructor" /> 
            <input type="button" name="btnNext" value=">" />
        </div>
    </div>
    <div id="createStep2">
        <h2>Lesson</h2>
        <p class="msc-instruction-blurb">
            &nbsp &nbsp &nbsp &nbsp &nbsp Choose an available lesson time.  Click on the calendar icon to pick a date,
            or select date range and the click search.  Select your lesson and then move to the next step. 
        </p>
        <div style="overflow-y:auto; overflow-x:hidden; height:350px;">
            @{Html.RenderAction("LessonFilter", "CLesson"); }
        </div>
        <input type="button" name="btnPrevious" value="<" />
        <input type="button" name="btnNext" value=">" />
    </div>
    <div id="createStep3">
        <h2>Student Info</h2>
        <div class="msc-dsp-table">
            <div class="msc-dsp-row">
                <div class="msc-dsp-cell">
                    @Html.Label("First Name")
                </div>
                <div class="msc-dsp-cell">
                    @Html.TextBoxFor(model => model.strFirstName)
                </div>
                <div class="msc-dsp-cell">
                    @Html.Label("Last Name")
                </div>
                <div class="msc-dsp-cell">
                    @Html.TextBoxFor(model => model.strLastName)
                </div>
            </div>
            <div class="msc-dsp-row">
                <div class="msc-dsp-cell">
                    @Html.Label("Parent First Name")
                </div>
                <div class="msc-dsp-cell">
                    @Html.TextBoxFor(model => model.strParentsFirstName)
                </div>
                <div class="msc-dsp-cell">
                    @Html.Label("Email Address")
                </div>
                <div class="msc-dsp-cell">
                    @Html.TextBoxFor(model => model.strEmailAddress)
                </div>
            </div>
            <div class="msc-dsp-row">
                <div class="msc-dsp-cell">
                    @Html.Label("Phone Number")
                </div>
                <div class="msc-dsp-cell">
                    @Html.TextBoxFor(model => model.strPhoneNumber)
                </div>         
                <div class="msc-dsp-cell">
                    @Html.Label("Address")
                </div>
                <div class="msc-dsp-cell">
                    @Html.TextBoxFor(model => model.strAddress)
                </div>
            </div>
            <div class="msc-dsp-row">
                <div class="msc-dsp-cell">
                    @Html.Label("City")
                </div>
                <div class="msc-dsp-cell">
                    @Html.TextBoxFor(model => model.strCity)
                </div>
                <div class="msc-dsp-cell">
                    @Html.Label("State")
                </div>
                <div class="msc-dsp-cell">
                    @Html.DropDownListFor(model => model.strState, (SelectList)ViewBag.States, "--Select State--")
                </div>
            </div>
            <div class="msc-dsp-row">
                <div class="msc-dsp-cell">
                    @Html.Label("Zip Code")
                </div>
                <div class="msc-dsp-cell">
                    @Html.TextBoxFor(model => model.strZipCode)
                </div>
                <div class="msc-dsp-cell">
                    @Html.Label("Username")
                </div>
                <div class="msc-dsp-cell">
                    @Html.TextBoxFor(model => model.strUserName)
                </div>
            </div>
            <div class="msc-dsp-row">
                <div class="msc-dsp-cell">
                    @Html.Label("Password")
                </div>
                <div class="msc-dsp-cell">
                    @Html.PasswordFor(model => model.strPassword)               
                </div>
            </div>
        </div> 
        <div>
            <ul>
                <li><label>Terms of Agreement</label></li>
                <li><textarea>@ViewBag.TermsOfAgreement</textarea></li>
                <li>
                    <span> 
                        <input type="checkbox" name="acceptTerms" checked="checked" />
                        <label>Accept Terms</label>
                    </span>
                </li>
            </ul>
            <input type="submit" name="btnSave" value="Save" />
        </div>
        <input type="button" name="btnPrevious" value="<" />
    </div>
  
<div>
    
<input type="hidden" name="hdnStudioId" />
<input type="hidden" name="hdnStartTime" />
    <ul class="msc-profile-error-list">
        <li>@Html.ValidationMessageFor(model => model.strFirstName)</li>
        <li>@Html.ValidationMessageFor(model => model.strLastName)</li>
        <li>@Html.ValidationMessageFor(model => model.strEmailAddress)</li>
        <li>@Html.ValidationMessageFor(model => model.strPhoneNumber)</li>
        <li>@Html.ValidationMessageFor(model => model.strAddress)</li>
        <li>@Html.ValidationMessageFor(model => model.strCity)</li>
        <li>@Html.ValidationMessageFor(model => model.strState)</li>
        <li>@Html.ValidationMessageFor(model => model.strZipCode)</li>
        <li>@Html.ValidationMessageFor(model => model.strUserName)</li>
        <li>@Html.ValidationMessageFor(model => model.strPassword)</li>
        <li><span class="msc-validation-msg-student">Instructor and lesson required</span></li>
        <li class="msc-right-align"><input type="button" id="btnErrorClose" value="Close" /></li>
    </ul>
</div>
</div>
}

<div id="dlgInstructor" style="width:800px;height:600px;overflow-y:auto;"></div>
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jmask-util.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    var hdnInstructorId =  $('input[name=CInstructorID]');
    var hdnStudioId = $('input[name=hdnStudioId]');
    var hdnStartTime = $('input[name=hdnStartTime]');
    var passed = false;
    var errorlist = $('.msc-profile-error-list');
    var btnErrorClose = $('#btnErrorClose');
    var validationMsg = $('.msc-validation-msg-student');
 
    //stepManagement
    var stepOne = $('#createStep1');
    var stepTwo = $('#createStep2');
    var stepThree = $('#createStep3');
    var currentStep = 1;
    var btnPrevious = $('input[name=btnPrevious]');
    var btnNext = $('input[name=btnNext]');

    errorlist.hide();
    validationMsg.hide();
    setlfInstructorId(hdnInstructorId.val());
    initSteps();

    btnErrorClose.click(function () {
        errorlist.hide();
        validationMsg.hide();
    });

    $('form').on('submit', function (e) {
        if (!$(this).valid()) {
            errorlist.show();
        }
        if (!passed) {
        e.preventDefault();
            
            hdnStudioId.val(getlfStudioId());
            hdnStartTime.val(getlfStartTime());
            passed = (hdnStudioId.val() == '' || hdnStartTime.val() == '') ? false : true;
            if (passed) {
                $(this).submit();
            }
            else {
                validationMsg.show();
            }
        }
        
    });

    $('#dlgInstructor').dialog({
        autoOpen: false,
        title: 'Instructor Browser',
        height: '650',
        width: '1000',
        modal: true,
        buttons: {
            'Select': function () {
                loadInstructorProfile();
            }
        }
    });
    $('input[name=btnDialog]').click(function () {
        $.get('@Url.Action("InstructorBrowser", "CInstructor")', {}, function (result) {
            $("#dlgInstructor").html(result);
            $('#dlgInstructor').dialog('open');
        });
      
    });

    $('#dlgInstructor').click(function () {
        var id = getID();
        hdnInstructorId.val(id);
        setlfInstructorId(id);
    });

    function loadInstructorProfile() {
        if (hdnInstructorId.val() == null || hdnInstructorId.val() == '')
            return;

        $.get('@Url.Action("InstructorProfile", "CInstructor")', { instructorId : hdnInstructorId.val() }, function (result) {
            $('#profile').html(result);
            $('#dlgInstructor').dialog('close');
        });
    };

    function initSteps() {
        stepTwo.hide();
        stepThree.hide();
    };

    btnPrevious.click(function () {
        previousStep();
    });

    btnNext.click(function () {
        nextStep();
    });

    function nextStep() {
        currentStep++;
        if (currentStep > 3) {
            currentStep = 3;
        }
        displayStep(true);
    };

    function previousStep() {
        currentStep--;
        if (currentStep < 0) {
            currentStep = 0;
        }
        displayStep(false);
    };

    function displayStep(isNext) {
        switch (currentStep) {
            case 1:                
                stepTwo.hide('slide', { direction: 'right', complete: function () { stepOne.show('slide', { direction: 'left' }, 700) } }, 700);
                break;
            case 2:
                if (isNext) {
                    stepOne.hide('slide', { direction: 'left', complete: function () { stepTwo.show('slide', { direction: 'right' }, 700) } }, 700);
                }
                else {
                    stepThree.hide('slide', { direction: 'right', complete: function () { stepTwo.show('slide', { direction: 'left' }, 700) } }, 700);
                }
                break;
            case 3:
                stepTwo.hide('slide', { direction: 'left', complete: function () { stepThree.show('slide', { direction: 'right' }, 700) } }, 700);
                break;
        }
    };

    $(document).ready(function () {
        var pwaitdialog = new pwait();
        pwaitdialog.setEnabled(true);
    });
</script>