﻿@model MusicSEC.ViewModels.CStudentVM
@using (Html.BeginForm()) { 

<style>
    #s-submit {
        float:right;
         margin-right:500px;
    }

    .msc-s-profile-edit {
        column-count:2;
    }

    .msc-s-profile-edit li label {
        width:125px;
        display:inline-block;
        text-align:right;
    }     
</style>
<div>
    <ul class="msc-s-profile-edit">
        <li><label class="msc-label-for">Username : </label>@Html.TextBoxFor(model => model.strUserName, new { disabled = "disabled", @readonly = "readonly" })</li>
        <li><label class="msc-label-for">First name : </label>@Html.TextBoxFor(model => model.strFirstName)</li>
        <li><label class="msc-label-for">Last name : </label>@Html.TextBoxFor(model => model.strLastName)</li>
        <li><label class="msc-label-for">Parents name : </label>@Html.TextBoxFor(model => model.strParentsFirstName)</li>
        <li><label class="msc-label-for">Email : </label>@Html.TextBoxFor(model => model.strEmailAddress)</li>
        <li><label class="msc-label-for">Phone : </label>@Html.TextBoxFor(model => model.strPhoneNumber)</li> 
        <li><label class="msc-label-for">Address : </label>@Html.TextBoxFor(model => model.strAddress)</li> 
        <li><label class="msc-label-for">City : </label>@Html.TextBoxFor(model => model.strCity)</li>
        <li><label class="msc-label-for">State : </label>@Html.DropDownListFor(model => model.strState, (SelectList)ViewBag.States, "--Select State--")</li>
        <li><label class="msc-label-for">Zip : </label>@Html.TextBoxFor(model => model.strZipCode)</li>
        <li><label class="msc-label-for">Instructor : </label>@Html.TextBoxFor(model => model.strInstructorName, new { disabled = "disabled", @readonly = "readonly" })</li>
    </ul>
    <input type="submit" id="s-submit" value="Update" />
    @Html.HiddenFor(model => model.CStudentID)
    @Html.HiddenFor(model => model.CInstructorID)
    @Html.HiddenFor(model => model.blnActive)
   
</div>
}
 @Html.ActionLink("< Back", "StudentProfile", new { studentId = Model.CStudentID }, new { @class = "msc-button-link msc-color-link" })
<script src="~/Scripts/jmask-util.js"></script>