﻿@model IEnumerable<MusicSEC.ViewModels.CStudentVM>

@{
    ViewBag.Title = "Manage Students";
}

<div class="msc-mng-student-container">
    
    <span style="float:right;margin-top:15px;">
        <input type="text" id="txtActiveSearch" placeholder="search" />
        <input type="radio" name="rdActive" value="0" checked="checked" />
        <label>Active</label>
        <input type="radio" name="rdActive" value="1" />
        <label>Inactive</label>
    </span>
    <div class="msc-mng-student-row">
        <div class="msc-dsp-cell">
            <h4>Active Students</h4>
            <ul id="sortable-one" class="msc-connected">
                @foreach (var item in Model)
                {
                    if (item.blnActive)
                    { 
                        <li class="msc-div-table" title="Drag and drop to activate/deactivate students">
                            @Html.DisplayFor(model => item)
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="msc-dsp-cell">
            <h4>Inactive Students</h4>
            <ul id="sortable-two" class="msc-connected">
                @foreach (var item in Model)
                {
                    if (!item.blnActive)
                    { 
                        <li class="msc-div-table" title="Drag and drop to activate/deactivate students">
                            @Html.DisplayFor(model => item)
                        </li>
                    } 
                }
            </ul>
        </div>
    </div>
    <p>
        <input type="button" id="btnUpdate" value="Update Changes" />
    </p>
</div>
<script src="~/Scripts/jmanage-entities.js"></script>
<script>
    function updateLists(activeList, inactiveList) {
        $.post('@Url.Action("ProcessActiveStudents", "CStudent")', { active: activeList, inactive: inactiveList });
  }
</script>