﻿@{
    ViewBag.Title = "Registration Confirmation";
}
<style>
    .msc-confirmation-div {
        display:block;
        margin:auto;
        width:60%;
        text-align:center;
        background-color:rgba(0,0,0,.6);
        border-radius:20px;
    }

        .msc-confirmation-div h2 {
            color:white;
        }
</style>
<div class="msc-confirmation-div">
    <h2>Hello @ViewBag.StudentName welcome to @ViewBag.BusinessName!</h2>
    <p>
        Thank you for registering with us.  @ViewBag.InstructorName will contact you via email to confirm your first lesson.
    </p>
    @Html.ActionLink("Home", "Index", "Home")
</div>