﻿@model MusicSEC.ViewModels.AcademyStatVM
<style>
    #spDate, #spRange {
        display:inline-block;
        width:175px;
    }

    #spDate {
        margin-left:10%;
    }

    .msc-stat-container {
        width:85%;
        height:400px;
        overflow-y:auto;
        margin:auto;
    }

    .msc-stat-container label {
        display:inline-block;
        width:210px;
    }

    .msc-stat-container select {
        width:160px;
    }
  
    .msc-short-txt {
        width:150px;
    }

    .msc-mdm-txt {
        width:175px;
    }

    .msc-stat-dtm {
        display:block;
        margin:5px auto;
        width:70%;
        height:50px;
        border-radius:12px;
        border:2px inset black;
        background-color:rgba(0,0,0,.3);
    }

    .msc-stat-dtm button {
        float:left;
        margin:0px;
    }

    .msc-stat-dtm input[type=text] {
        width:125px;
        margin-top:0px;
        margin-left:3px;
        background:none;
        border:none;
        color:white;
    }

    .tab-container {
        width:90%;
        height:260px;
        padding:15px;
        border:2px inset black;
        border-top:1px solid black;
        border-bottom-left-radius:20px;
        border-bottom-right-radius:20px;
        border-top-right-radius:20px;
    }

    .tab-holder {
        display:block;
        width:90%;
    }

        .tab-holder label {
            width:150px;
            height:30px;
            border:2px inset black;
            border-bottom-color:rgba(0, 0, 0, .7);
            border-bottom:2px;
            text-align:center;
        }
    #fs-tab-1 {
        border-top-left-radius:12px;
        border-right:1px inset black;
    }

    #fs-tab-2{
        border-top-right-radius:12px;
        border-left:1px inset black;
    }
    .fs-selected {
        background-color:rgba(0, 0, 0, .7)
    }
    .fs-tab-selected {
        background-color:rgba(178, 223, 254, .2);
    }

</style>
@using(Html.BeginForm("AcademyStat", "Stat"))
{
<div class="msc-stat-container">
      <!--Date-->
        <div class="hdn-fs">
            <span class="msc-stat-dtm">
                <span id="spDate">
                    <input type="text" name="dtmStartDate" value="@Model.dtmStartDate.ToShortDateString()" class="msc-short-txt" />
                </span>
                <span id="spRange">
                    <input type="text" name="dtmEndDate" value="@Model.dtmEndDate.ToShortDateString()" class="msc-short-txt" /> 
                </span>
                <input type="submit" value="Search" />
            </span>
        </div>   
        <div class="tab-holder">
            <label id="fs-tab-1" class="fs-tab">Instructors</label>
            <label id="fs-tab-2" class="fs-tab">Students</label>
        </div>
        <div class="tab-container fs-selected">
        <div id="hdn-fs-1">
            <table>
                <tr>
                    <th>Instructor Name</th>
                    <th>Lesson Status</th>
                    <th>Lesson Order</th>
                </tr>
                <tr>
                   <td><input type="text" name="txtInstructorName" class="msc-mdm-txt"/></td>
                   <td>@Html.DropDownList("ddlStatus", (SelectList)ViewBag.Status)</td>
                   <td>@Html.DropDownList("ddlLessonOrder", (SelectList)ViewBag.Most)</td>
                </tr>
            </table>
            <span>
                @Html.Label("Active Instructor Count")
                @Html.TextBoxFor(model => model.intActiveInstructorCnt, new { disabled = "disabled", @readonly = "readonly", @class = "msc-short-txt" })
            </span>
            <br />
            <span>
                @Html.Label("Inactive Instructor Count")
                @Html.TextBoxFor(model => model.intInActiveInstructorCnt, new { disabled = "disabled", @readonly = "readonly", @class = "msc-short-txt" })
            </span>
        </div>
 

    <!--Student-->
   
        
        <div id="hdn-fs-2">
            <span>
                @Html.Label("Active Student Count")
                @Html.TextBoxFor(model => model.intActiveStudentCnt, new { disabled = "disabled", @readonly = "readonly", @class = "msc-short-txt" })
            </span>
            <br />
            <span>
                @Html.Label("Inactive Student Count")
                @Html.TextBoxFor(model => model.intInActiveStudentCnt, new { disabled = "disabled", @readonly = "readonly", @class = "msc-short-txt" })
            </span>
        </div>
    </div>
    <input type="hidden" name="statusId" />
    <input type="hidden" name="orderId" />
</div>
}
<script>
    var dtmStart = $('input[name=dtmStartDate]');
    var dtmEnd = $('input[name=dtmEndDate]');
    var statusSelect = $('select[name=ddlStatus]');
    var orderSelect = $('select[name=ddlLessonOrder]');
    var txtInstructorName = $('input[name=txtInstructorName]');
    var status = $('input[name=statusId]');
    var order = $('input[name=orderId]');
    var tab = $('.fs-tab');
    var tabIndex1 = $('#fs-tab-1');
    var tabIndex2 = $('#fs-tab-2');
    var tab1 = $('#hdn-fs-1');
    var tab2 = $('#hdn-fs-2'); 
    

    getInstructor();
    toggleTab('fs-tab-1');
    statusSelect.change(function () {
        getInstructor();
    });

    orderSelect.change(function () {
        getInstructor();
    });

    tab.click(function () {
        toggleTab($(this).attr('id'));
    });

    tab.hover(function () {
        var tb = $(this);
        if (tab1.is(':visible') && tb.attr('id') == 'fs-tab-2') {
            tb.toggleClass('fs-tab-selected');
        }
        else if (tab2.is(':visible') && tb.attr('id') == 'fs-tab-1') {
            tb.toggleClass('fs-tab-selected');
        }
    });

    $(function () {
        dtmStart.datepicker({
            showOn: 'button'
        }).next('button').text('').button({
            icons: {
                primary: 'ui-icon-calendar'
            },
            text: false
        });
    });

    $(function () {
        dtmEnd.datepicker({
            showOn: 'button'
        }).next('button').text('').button({
            icons: {
                primary: 'ui-icon-calendar'
            },
            text: false
        });
    });

    function getInstructor() {
        var statusId = statusSelect.val();
        var orderId = orderSelect.val();
        if (statusId != null && statusId != "" && orderId != null && orderId != "") {
            $.get('@Url.Action("InstructorByLessonStatus")', { statusId: statusId, lessonOrder: orderId, start: dtmStart.val(), end: dtmEnd.val() }, function (data) {
                txtInstructorName.val(data);
                status.val(statusId);
                order.val(orderId);
            });
        }
    };

    function toggleTab(id) {
        tab.removeClass('fs-selected');
        if (id == 'fs-tab-1') {
            tab1.show();
            tab2.hide();
            tabIndex1.addClass('fs-selected');
            tabIndex1.removeClass('fs-tab-selected');
        }
        else {
            tab1.hide();
            tab2.show();
            tabIndex2.addClass('fs-selected');
            tabIndex2.removeClass('fs-tab-selected');
        }
    };
</script>
