﻿@model MusicSEC.ViewModels.CInstructorVM
<style>
    .msc-instruct-vm-container {
        width: 420px;
        border:2px inset black;
        height:335px;
    }

        .msc-instruct-vm-container img {
            width:100px;
        }

        
</style>
 <div class="msc-instruct-vm-container">
    <div class="msc-dsp-cell" style="width:100px;">              
        @Html.DisplayFor(model => model.ProfileImage)   
    </div>
    <div class="msc-dsp-cell" style="width:235px;">
        <ul data-entity-id="@Model.CInstructorID">
            <li><label class="msc-label-for">Name : </label>@Html.Label(Model.FullName, new { @class = "msc-name" })</li>
            <li><label class="msc-label-for">Email : </label>@Html.DisplayFor(model => model.strEmailAddress)</li>
            <li><label class="msc-label-for">Phone : </label>@Html.DisplayFor(model => model.strPhoneNumber)</li>
            <li><label class="msc-label-for">About : </label><p>@Model.strProfileDescription</p></li>
            <li><label class="msc-label-for">What I teach : </label>
                <ul>
                    @foreach (var lessonType in Model.lstLessonTypes)
                    {
                        <li class="msc-li-horizontal">@Html.DisplayFor(model => lessonType.strLessonType)</li> 
                    }
                </ul>
            </li>
        </ul>
    </div>
    <div class="msc-dsp-cell" style="width:65px;">
        @if(!Model.blnIsPublic)
        {
            <label class="msc-label-for">Active</label>
            @Html.ActionLink("Full Profile", "InstructorProfile", new { instructorId = @Model.CInstructorID }, new { @class = "msc-block msc-color-link" })
        }
    </div>
</div>