﻿@model MusicSEC.ViewModels.CStudentVM
<div>
    <ul data-entity-id="@Model.CStudentID">
        <li><label class="msc-label-for">Name : </label>@Html.Label(Model.FullName, new { @class = "msc-name" })</li>
        <li><label class="msc-label-for">Parents name : </label>@Model.strParentsFirstName</li>
        <li><label class="msc-label-for">Email : </label>@Model.strEmailAddress</li>
        <li><label class="msc-label-for">Phone : </label>@Model.strPhoneNumber</li> 
        <li><label class="msc-label-for">Address : </label>@Model.strAddress</li> 
        <li><label class="msc-label-for">City : </label>@Model.strCity</li>
        <li><label class="msc-label-for">State :</label>@Model.strState</li>
        <li><label class="msc-label-for">Zip : </label>@Model.strZipCode</li>
        <li><label class="msc-label-for">Instructor : </label>@Model.strInstructorName</li>
    </ul>
</div>