﻿@model MusicSEC.Models.CUserImage 
@if(Model != null)
{      
    <div class="msc-image-container">
        @if (Model.blnCaptionTop)
        {
            <figcaption>@Model.strCaption</figcaption>
        }
        <img id="imgUploadPreview" class="msc-profile-lg" src="@string.Format("data:image/{0}; base64, {1}",  @Model.strFileType, Convert.ToBase64String(@Model.bytImage))" />
        @if (!Model.blnCaptionTop)
        {
            <figcaption>@Model.strCaption</figcaption> 
        }
    </div> 
}