﻿@model MusicSEC.ViewModels.CCalendarVM
@using MusicSEC.ViewModels;
@using MusicSEC.Utility;
<link href="~/Content/test.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<style>
    .hidden {
        display:none;
    }
</style>
<script src="~/Scripts/jcalendar.js"></script>
<script>
    $(document).ready(function () {
        var calendar = new Calendar("div");
        var array = [1, 3, 5, 8, 9, 11, 15];
        var otherarray = [2, 7, 9, 10, 12];
        setActive();
        $(document).on('dblclick', '#div tbody', function () {
            var a = calendar.getCurrentDateInfo();
            $.get('@Url.Action("Details", "CDay")', { day: a.day, month: a.month + 1, year: a.year }, function (result) {
                $('#odiv').html(result);
            });
        });

        $(document).on('click', '.cal-nav-btn', function () {
            //var btn = $(this);
            //if (btn.attr('name') == 'next') {
            //    calendar.setActive(array);
            //}
            //else {
            //    calendar.setActive(otherarray);
            //}

            setActive();
        });

        function setActive(){
            var info = calendar.getCurrentDateInfo();
            $.get('@Url.Action("GetNonOperationalDays")', { month : info.month + 1, year : info.year }, function(result){           
                calendar.setActive(result);
            });
        }

    });
    //$(document).ready(function () {
    //    $("#target a").click(function (e) {
    //        e.preventDefault();
    //        var address = $(this).attr("href");
    //        alert(address);
    //        $.ajax({
    //            type: 'GET',
    //            url: address,
    //            success: function (partial) {
    //                $("#target").html(partial);
    //            }
    //        });
    //    });
    //});

    //$(document).ready(function () {
    //    $("input[name=btnFolded]").click(function () {
    //        $(this).parent().children("ul").toggleClass("hidden");
    //     //   alert($(this).parent().attr("class"));//.children(" ul li").toggleClass("hidden");
    //    });
    //});
</script>
<div class="msc-dsp-row">
    <div id="div" class="msc-dsp-cell"></div>
    <div id="odiv" class="msc-dsp-cell"></div>
</div>




@*<div id="target">
    <diV>
    @{ Html.RenderAction("ManageInstructors","CInstructor"); }
    </div>
</div>*@


@*<ul style="display:table-row;">
    @foreach (var day in Model.lstDays)
    { 
        <li style="background-color:lightblue;">
            <table>
                <tr>
                    <td>
                         @Html.DisplayFor(model => day.DayName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => day.MonthName)
                    </td> 
                    <td>
                        @Html.DisplayFor(model => day.intDay)
                    </td>
                    <td>
                       Operational : @day.blnOperational.ToString()
                    </td>        
                </tr>
            </table>
         </li>
         <li>
                <ul style="background-color:lightgray; margin-left:25px;">
                    @foreach (var studio in day.lstStudios)
                    {
                        <li>
                            @Html.DisplayFor(modelItem => studio.strStudioName)
                            <input type="button" name="btnFolded" value="+" />
                            <ul style="background-color:yellow; margin-left:25px;" class="hidden">
                                @foreach (KeyValuePair<int, CLessonVM> pair in studio.dctLessonSlots)
                                {
                                    <li>
                                        @Html.DisplayFor(modelItem => pair.Key)
                                        @pair.Value.blnAvailable.ToString()
                                        @CTimeUtility.ConvertToReadable(pair.Value.intStartTime)
                                    </li> 
                                }
                            </ul>
                        </li> 
                    }
                </ul>
       </li>
    }
</ul>*@



@*@using (Html.BeginForm("Upload", "Test", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    <input type="file" name="fileUpload" id="fileUpload" accept="image/*" />
    <input type="submit" name="submit" id="submit" value="Upload" />
}

@if (ViewBag.Images != null)
{
    <table>
    @foreach (var image in ViewBag.Images)
    {
         <tr>
             <td><img src="@string.Format("data:image/{0}; base64, {1}", image.strFileType, Convert.ToBase64String(image.bytImage))" /></td>
         </tr>
    } 
    </table>
}

@{ COperationsLengthVM len = new COperationsLengthVM();  }

@using(Html.BeginForm("OperationsTest", "Test", FormMethod.Post, null)){
    @Html.EditorFor(model => len)
    <input type="submit" value="click mofo" />
}


@Html.Partial("UserContentEditor")*@