﻿@model MusicSEC.ViewModels.CDayVM


Operational : @Html.DisplayFor(model => model.blnOperational)
Day : @Html.DisplayFor(model => model.intDay)
Month : @Html.DisplayFor(model => model.intMonth)
Year : @Html.DisplayFor(model => model.intYear)


<ul>
@foreach (var item in Model.lstStudios)
{ 
    <li>@Html.DisplayFor(modelItem => item.strStudioName)</li>
}
</ul>
