﻿<div class="msc-lesson-type-create">
    <h3>Business Settings Complete</h3>
@if (ViewBag.NeedsCompleted) 
{
    <p class="msc-p">
        You're almost finished.  All that is left is to click create calendar to generate
        a calendar which enable menu items.
    </p>
}
else
{
    <p class="msc-p">
        Business settings are complete. A calendar exists, if you create a new calendar all previous data for the year will be lost.
    </p>
}
</div>
<p class="msc-lesson-type-panel">
    <span>
        @Html.ActionLink("< Back", "Index", "CStudioName")
        @Html.ActionLink("Create New", "GenerateDays", "CDay")
    </span>
</p>