﻿@model MusicSEC.ViewModels.CDayVM
@using MusicSEC.ViewModels
<style>
  
</style>

@*@using (Ajax.BeginForm("UpdateDayTime", "CDay", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "AdminDay", OnComplete = "setActive" }))
{
*@
<div id="AdminDay">
<div>
    <input type="button" name="btnToggle" value="< Back" />
    <h2>@Model.dtmDate.ToShortDateString()</h2>
    <br />
    <span>
        @Html.Label("Day")
        @Html.Label("Start Time")
        @Html.Label("End Time")
        @Html.Label("Operational")
    </span>
    @Html.DisplayFor(model => model.OplengthVm)
   
</div>
<div class="msc-overflow" style="height:225px;">
    @Html.HiddenFor(model => model.CDayID)
    @Html.HiddenFor(model => model.dtmDate)
    @Html.HiddenFor(model => model.intDay)
    @Html.HiddenFor(model => model.intMonth)
    @Html.HiddenFor(model => model.intYear)
    @Html.HiddenFor(model => model.intLessonsPerDay)
 
    <ul>
    @foreach (var studio in Model.lstStudios)
    {
        <li class="admin-day-li">
            <span class="studio-span">
                @Html.DisplayFor(modelItem => studio.strStudioName)
            </span>
            <input type="button" name="btnFolded" value="+"/>
            <table id="tblInstructorDay" class="msc-hidden">
                <tr>
                    <td>@Html.Label("Start Time")</td>
                    <td>@Html.Label("End Time")</td>
                    <td>@Html.Label("Slot Available")</td>
                </tr>
            @foreach (KeyValuePair<int, MusicSEC.ViewModels.CLessonVM> pair in studio.dctLessonSlots)
            {               
                 <tr data-instructorid="@pair.Value.CInstructorID">              
                    <td>@MusicSEC.Utility.CTimeUtility.ConvertToReadable(pair.Value.intStartTime)</td>
                    <td>@MusicSEC.Utility.CTimeUtility.ConvertToReadable(pair.Value.intEndTime)</td>
                    <td>@pair.Value.blnAvailable.ToString()</td>
                 </tr>
            } 
            </table>
        </li>
    }
    </ul>
</div>
<input type="hidden" id="hdnInstructId" value="@ViewBag.InstructorId" />
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    //start unique variables
    var tr = $('#tblInstructorDay tr');
    var hdnInstructId = $('#hdnInstructId').val();
    //end unique

    $('input[name=btnFolded]').click(function () {
        var button = $(this);
        var val = (button.val() == '+') ? '-' : '+';
        button.parent().children('table').toggleClass('msc-hidden');
        button.val(val);
    });

    $('input[name=btnToggle]').click(function () {
        toggleDisplay();
    });


    // Unique
    $.each(tr, function (index, row) {
        var row = $(row);
        if (row.data('instructorid') == hdnInstructId) {
            var parent = row.parents('li');
            parent.children('.studio-span').addClass('msc-highlight');
            row.addClass('msc-highlight');
        }
    });
</script>