﻿<div id="msc-email-container-obj">
    <span>
        <label>To :</label>
        <input type="text" name="txtEmail" value="@ViewBag.EmailAddress" disabled="disabled" readonly="readonly" />
    </span>
    <br />
    <span>
        <label>Subject :</label>
        <input type="text" name="txtSubject" />
    </span>
    <br />
    <label>Body :</label>
    <textarea name="txtBody"></textarea>
</div>