﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        <link href="~/Content/musicSec-base-css.css" rel="stylesheet" />
        <link href="~/Content/musicSec-layout2-css.css" rel="stylesheet" />
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        <script src="~/Scripts/jlayout-util.js"></script>
        <script src="~/Scripts/jpwait.js"></script>
    </head>
    <body>
        <header>
             <div id="msc-content-container-1">
                  
                </div>
            <div>
               @* <div id="msc-content-container-1" class="float-right">
                  
                </div>*@
                <div>
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Instructors", "Instructors", "Home")</li>
                        <li>@Html.ActionLink("Dashboard", "Dash", "Dashboard")</li>
                    </ul>
                </nav>
                </div>
            </div>
        </header>
        <div id="body">
             
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
                @if (ViewBag.Title == "Home Page" || ViewBag.Title == "Layout Editor")
                {                    
                    <div id="msc-content-container-2"></div>
                }
            </section>
            
        </div>
        <footer>
            <div class="content-wrapper">
                <div id="msc-content-container-5">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

       @* @Scripts.Render("~/bundles/jquery")*@
        @RenderSection("scripts", required: false)
    </body>
</html>