﻿@using MusicSEC.Utility
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
         <link href="~/Content/musicSec-base-css.css" rel="stylesheet" />
        <link href="~/Content/musicSec-layout1-css.css" rel="stylesheet" />
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/inputmask")
        <script src="~/Scripts/jlayout-util.js"></script>
        <script src="~/Scripts/jpwait.js"></script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div id="msc-content-container-1" class="float-left">

                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu" class="msc-li-horizontal">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Instructors", "Instructors", "Home")</li>
                            <li>@Html.ActionLink("Dashboard", "Dash", "Dashboard")</li>
                          @*  <li>@Html.ActionLink("Test", "Index", "Test")</li>*@
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div>
           @* @RenderSection("mscContentContainer2", required: false)*@
            <div id="msc-content-container-2" class="msc-content-container-2"></div>
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()   
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div id="msc-content-container-5" class="float-left">
                    
                </div>
                <p>&copy; @DateTime.Now.Year - @CLayoutUtility.BusinessName</p>
            </div>
        </footer>
        @Html.Partial("_PleaseWait")
       @* @Scripts.Render("~/bundles/jquery")*@
        @RenderSection("scripts", required: false)
    </body>
</html>
