﻿<link href="~/Content/user-content-editor-css.css" rel="stylesheet" />
<link href="~/Content/colorpicker.css" rel="stylesheet" />
<link href="~/Content/layout.css" rel="stylesheet" />
<script src="~/Scripts/colorpicker.js"></script>
<style>
    .colorpicker {
        z-index:10000;
    }
</style>
<div class="uce-wrapper">
    <div class="uce-buttonpane">
        <ul>
            <li>
                <select name="slctFont">
                    <option value="Arial">Arial</option>
                    <option value="Arial Black">Arial Black</option>
                    <option value="Century Gothic">Century Gothic</option>
                    <option value="Courier">Courier</option>
                    <option value="Geneva">Geneva</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Helvetica">Helvetica</option>
                    <option value="Lucida">Lucida</option>
                    <option value="Tahoma">Tahoma</option>
                    <option value="Times New Roman" selected="selected">Times New Roman</option>
                    <option value="Trebuchet MS">Trebuchet MS</option>
                    <option value="Verdana">Verdana</option>
                </select>
                <select name="slctFontSize">
                    <option value="1">8</option>
                    <option value="2">9</option>
                    <option value="3">10</option>
                    <option value="4">11</option>
                    <option value="5" selected="selected">12</option>
                    <option value="6">14</option>
                    <option value="7">16</option>                    
                </select>
            </li>
            <li>
                <input type="button" name="btnBold" value="B"/>
            </li>
            <li>
                <input type="button" name="btnItalic" value="I" />
            </li>
            <li>
                <input type="button" name="btnUnderline" value="U" />
            </li>
            <li>
                <input type="button" name="btnJustifyLeft" value="L" />
            </li>
            <li>
                <input type="button" name="btnJustifyCenter" value="C" />
            </li>
            <li>
                <input type="button" name="btnJustifyRight" value="R" />
            </li>
            <li><span>FC</span>
                <div id="colorSelector" class="uce-inline-block">
                    <div style="background-color:black;">

                    </div>
                </div>        
            </li>
            <li id="backColor"><span>BC</span>
                <div id="colorSelector2" class="uce-inline-block">
                    <div style="background-color:white;">

                    </div>
                </div>
                <br />
                <div id="backPanel">Transparent
                    <input type="checkbox" id="chkTransparent" />
                    <div id="slider"></div>
                    <label id="lblPercent">100</label>%
                </div>
            </li>
            <li>
                <input type="button" name="btnUL" value="UL" />
            </li>
            <li>
                <input type="button" name="btnOL" value="OL" />
            </li>
            <li>
                <input type="button" name="btnLink" value="Link" />
            </li>
        @*    <li>
                <input type="button" name="btnImage" value="Image" />
            </li>*@
        </ul>
    <textarea name="txtArea" id="txtArea" class="txtArea"></textarea>
    <iframe name="richTextField" id="richTextField" class="uce-iframe"></iframe>
</div>
@*<input type="button" name="btn" value="val" />*@
<input type="button" name="btnSave" value="Save" />
</div>
<script>
    var btnBold = $('input[name=btnBold]');
    var btnItalic = $('input[name=btnItalic]');
    var btnUnderline = $('input[name=btnUnderline]');
    var btnUL = $('input[name=btnUL]');
    var btnOL = $('input[name=btnOL]');
    var btnLink = $('input[name=btnLink]');
    var btnLinkSubmit = $('input[name=btnLinkSubmit]');
    var btnImage = $('input[name=btnImage]');
    var btnJustifyLeft = $('input[name=btnJustifyLeft]');
    var btnJustifyCenter = $('input[name=btnJustifyCenter]');
    var btnJustifyRight = $('input[name=btnJustifyRight]');
    var BackSelector = $('#colorSelector2');
    var ForeSelector = $('#colorSelector');
    var slctFont = $('select[name=slctFont]');
    var slctFontSize = $('select[name=slctFontSize]');
    var slctHeaderSize = $('select[name=slctHeaderSize]');
    var backColor = $('#backColor');
    var backPanel = $('#backPanel');
    var chkTransparent = $('#chkTransparent');
    var slider = $('#slider');
    var lblPercent = $('#lblPercent');
    var currentForeColor = '#000000';
    var currentBackColor = '#FFFFFF';
    var usesBackColor = false;
    
    $(function () {
        $('#slider').slider({
            range: 'min',
            value: 100,
            min: 0,
            max: 100,
            slide: function (event, ui) {
                lblPercent.text(ui.value);
            }
        });
    });

    $.each($('li > input[type=button]'), function (index, li) {
        var li = $(li);
        li.css('min-width', '20px');
    });

    richTextField.document.body.style.wordWrap = 'break-word';
    if ($.browser.mozilla) {
        richTextField.document.designMode = 'on';
    }
    else {
        editOn();
        richTextField.document.execCommand('styleWithCss', null, true);
    }
    btnBold.click(function () {

        richTextField.focus();
        richTextField.document.execCommand('bold', true, null);  
    });

    btnItalic.click(function () {
        richTextField.focus();
        richTextField.document.execCommand('italic', false, null);
    });

    btnUnderline.click(function () {
        richTextField.focus();
        richTextField.document.execCommand('underline', false, null);
    });

    btnJustifyLeft.click(function () {
        richTextField.focus();
        richTextField.document.execCommand('justifyleft', false, null);
    });

    btnJustifyCenter.click(function () {
        richTextField.focus();
        richTextField.document.execCommand('justifycenter', false, null);
    });

    btnJustifyRight.click(function () {
        richTextField.focus();
        richTextField.document.execCommand('justifyright', false, null);
    });

        btnUL.click(function () {
            richTextField.focus();
            richTextField.document.execCommand('insertunorderedlist', false, null);
        });

        btnOL.click(function () {
            richTextField.focus();
            richTextField.document.execCommand('insertorderedlist', false, null);
        });

        btnLink.click(function () {
            richTextField.focus();
            var url = prompt('Enter a Url :', 'http://www.');
            richTextField.document.execCommand('createlink', false, url);       
        });

        chkTransparent.click(function () {
            if ($(this).is(':checked')) {
                setBackColor('transparent');
            }
            slider.toggle();
            lblPercent.toggle();
           
        });

        slctFont.change(function () {
            richTextField.focus();
            richTextField.document.execCommand('FontName', false, slctFont.val());
        });

        slctFontSize.change(function () {
            richTextField.focus();
            richTextField.document.execCommand('FontSize', false, slctFontSize.val());
        });

        function applyForeColor() {
            loadSelection(selectedForeRange); 
            richTextField.focus();
            richTextField.document.execCommand('forecolor', true, currentForeColor);
        };

        function applyBackColor() {
            loadSelection(selectedBackRange);
            richTextField.focus();
            richTextField.document.execCommand('backcolor', false, currentBackColor);
        };

        function editOn() {
            richTextField.document.designMode = 'On';
            richTextField.focus();
            richTextField.document.execCommand('FontSize', false, slctFontSize.val());
            richTextField.document.execCommand('FontName', false, slctFont.val());
        };

        function editOff() {
            richTextField.document.designMode = 'Off';
        };

        var selectedForeRange = '';
        var selectedBackRange = '';
        ForeSelector.parent().mouseenter(function () {
            selectedForeRange = saveSelection();
        });

        backColor.mouseenter(function () {
            backPanel.css('display', 'inline-block');
            backPanel.css('position', 'absolute');
        });

        backColor.mouseleave(function () {
            backPanel.css('display', 'none');
            backPanel.css('position', 'relative');
        });

        function saveSelection() {
            if(richTextField.window.getSelection){
                var selectedTxt = richTextField.window.getSelection();
                if (selectedTxt.getRangeAt && selectedTxt.rangeCount) {
                    return selectedTxt.getRangeAt(0); 
                }
            }
            else if (document.selection && document.selection.createRange) {
                return document.selection.createRange(); 
            }
            
            return null;
        };

        function loadSelection(range) {
            if (range) {
                if (window.getSelection) {
                    var selectedTxt = window.getSelection();
                    selectedTxt.removeAllRanges();
                    selectedTxt.addRange(range);
                } else if (document.selection && range.select) {
                    range.select();
                }
            }
        };

        function getEditorHtml() {
            return {
                divHtml: window.frames['richTextField'].document.body.innerHTML,
                backColor: currentBackColor
            };
        };

        function setEditorHtml(html) {  
            window.frames['richTextField'].document.body.innerHTML = html; 
        };

        function setBackColor(color) {
            currentBackColor = color;
            if (color == null || color == '' || color == 'transparent') {
                usesBackColor = false;
                setChkTransparent(true);
            }
            else {
                usesBackColor = true;
            }
            $('iframe').css('background-color', currentBackColor);
        };

        function setChkTransparent(bool) {
            if (bool) {
                chkTransparent.attr('checked', 'checked');
            }
            else {
                chkTransparent.removeAttr('checked');
            }
        };

        function UsesBackgroundColor() {
            return usesBackColor;
        };

        function returnAlpha() {
            var percent = lblPercent.text() * 1;
            return percent / 100;
        };


        $('#colorSelector').ColorPicker({
            color: '#000000',
            onShow: function (colpkr) {
                $(colpkr).fadeIn(500);
                return false;
            },
            onHide: function (colpkr) {
                $(colpkr).fadeOut(500);
                applyForeColor();
                return false;
            },
            onChange: function (hsb, hex, rgb) {
                $('#colorSelector div').css('background-color', '#' + hex);
                currentForeColor = '#' + hex;
           
            },
       
        });

        $('#colorSelector2').ColorPicker({
            color: '#FFFFFF',
            onShow: function (colpkr) {
                $(colpkr).fadeIn(500);
                return false;
            },
            onHide: function (colpkr) {
                $(colpkr).fadeOut(500);
                setChkTransparent(false);
                return false;
            },
            onChange: function (hsb, hex, rgb) {
                $('#colorSelector2 div').css('background-color', '#' + hex);
                currentBackColor = '#' + hex;
                setBackColor(currentBackColor);

            },
         
        });
   
        $(richTextField.document).on('keydown', function (e) {
            //if (e.which === 13) {
            //    var frame = window.frames['richTextField'].document.body;
            //    var html = frame.innerHTML.toString();
            //    var index = html.lastIndexOf('</p');
            //    if (index != -1) {
                  
            //        html = html.slice(0, index) + ' <br/> ' + html.slice(index);
            //        alert(html);
            //        frame.innerHTML = html;
            //    }
            //    return false;
         //   }
        });

</script>
