﻿@model MusicSEC.Models.CLessonType

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<div class="msc-lesson-type-create">
<h3>Create Lesson Type</h3>
    <fieldset>
        <legend>CLessonType</legend>

        <div class="msc-editor">
            @Html.LabelFor(model => model.strLessonType)
            @Html.EditorFor(model => model.strLessonType)
            @Html.ValidationMessageFor(model => model.strLessonType)        
        </div>
        </fieldset>
   </div>
        <p class="msc-lesson-type-panel">
            <span>
                 @Html.ActionLink("< Back", "Index")
                <input type="submit" value="Save" style="margin-left:275px; margin-top:0px;" />
            </span>
        </p>
 
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
