﻿@model MusicSEC.Models.CLessonType

@{
    ViewBag.Title = "Delete";
}
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
<div class="msc-lesson-type-create">
    <h3>Are you sure you want to delete this?</h3>
    <fieldset>
        <legend>CLessonType</legend>

        <div class="msc-editor">
            @Html.LabelFor(model => model.strLessonType)
            @Html.TextBoxFor(model => model.strLessonType, new { disabled = "disabled", @readonly = "readonly" })
        </div>
    </fieldset>
</div>
    <p class="msc-lesson-type-panel">
        <span>
            @Html.ActionLink("< Back", "Index")
            <input type="submit" value="Delete"  style="margin-left:275px; margin-top:0px;"/>         
        </span>
    </p>
}
