﻿@model IEnumerable<MusicSEC.Models.CLessonType>

<table class="msc-lesson-type-tbl">
    <caption> @Html.Label("Lesson Types")</caption>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.strLessonType)
            </td>
            <td></td>
            <td class="msc-lesson-type-buttonpane">
                @Html.ActionLink("Edit", "Edit", new { id=item.CLessonTypeID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.CLessonTypeID })
            </td>
        </tr>
}
     </tbody>
</table>
<p class="msc-lesson-type-panel">
    <span>
    @Html.ActionLink("< Back", "BusinessSettings", "CBusinessSettings")
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Next >", "Index", "CStudioName")
    </span>
</p>