﻿<style>
    #spDate, #spRange{
        display:inline-block;
        width:175px;
    }

    .msc-dtm-container h3 {
        color:white;
        text-align:center;
        margin-bottom:5px;
    }

    .msc-dtm-buttonpane {
        display:inline-block;
    }
    .msc-dtm-buttonpane input[type=text] {
        width:125px;
        margin-top:0px;
        margin-left:3px;
        background:none;
        border:none;
        color:white;
    }

    .msc-dtm-buttonpane button {
        float:left;
        margin:0px;

    }

    #displayTable {
        width:97%;
    }

        #displayTable tr th, #displayTable tr td {
            width:25%;
        }

    .msc-dtm-span input{
        margin-right:5px;
    }
</style>
<div class="msc-dtm-container">
    <h3>Search Options</h3>
    <span class="msc-dtm-span">
        <label>Date</label>
        <input type="radio" name="rdDate" value="0" checked="checked" />
        <label>Date Range</label>
        <input type="radio" name="rdDate" value="1" />
        <input type="button" name="btnSearch" value="Search" />
    </span>
    <br/>
    <span class="msc-dtm-buttonpane">
        <span id="spDate">
            <input type="text" name="txtDate1" value="@DateTime.Now.ToShortDateString()" />
        </span>
        <span id="spRange">
            <input type="text" name="txtDate2" value="@DateTime.Now.AddDays(7).ToShortDateString()" />
        </span>
    </span>
    <table id="displayTable">
        <thead>
            <tr style="border-bottom:1px solid white;">
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Choose</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>
<script>
    var date1 = $('input[name=txtDate1]');
    var date2 = $('input[name=txtDate2]');
    var radio = $('input[name=rdDate]');
    var spRange = $('#spRange');
    var displayTable = $('#displayTable');
    var tBody = $('#displayTable > tbody');
    var useRange = false;
    var btnSearch = $('input[name=btnSearch]');
    var lfInstructorId;
    var lfStudentId;
    var currentStudioId;
    var startTime;

    //date1.hide();
    //date2.hide();
    spRange.hide();

    radio.change(function () {
        if ($(this).val() == 0) {
            spRange.hide();
            useRange = false;
        }
        else {
            spRange.show();
            useRange = true;
        }
    });

    btnSearch.click(function () {
        search();
    });

    $(function () {
        date1.datepicker({
            showOn: 'button',
        }).next('button').text('').button({
            icons: {
                primary: 'ui-icon-calendar'
            },
            text: false
        });
    });

    $(function () {
        date2.datepicker({
            showOn: 'button',
        }).next('button').text('').button({
            icons: {
                primary: 'ui-icon-calendar'
            },
            text: false
        });
    });

    $(document).on('click', 'input[name=btnlfSelect]', function () {
        var btn = $(this);
        currentStudioId = btn.data('studio-id');
        startTime = btn.data('start');
        applyHighlight(btn.parents('tr'));
    });

    function setlfInstructorId(id) {
        lfInstructorId = id;
    };

    function setlfStudentId(id) {
        lfStudentId = id;
    };

    function getlfStudioId() {
        return currentStudioId;
    };

    function getlfStartTime() {
        return startTime;
    };

    function search() {
        var dtm1 = date1.val();
        var dtm2 = (date2.is(':visible')) ? date2.val() : "";
        $.get('@Url.Action("StudentsFilterLessons", "CLesson")', { date1 : dtm1, date2 : dtm2, instructorId : lfInstructorId }, function (result) {
            generateTBody(result);
        });
    };

    function generateTBody(result) {
        tBody.empty();
        $.each(result, function (index, tr) {
            var row = '<tr>' +
                            '<td><label title="' + tr.Day + '">' + tr.Date + '</label></td>' +
                            '<td><label>' + tr.Start + '</label></td>' +
                            '<td><label>' + tr.End + '</label></td>' +
                            '<td><input type="button" name="btnlfSelect" value="Select" data-studio-id="' + tr.StudioId + '" data-start="' + tr.InternalStart + '"/></td>' +
                       '</tr>';
            tBody.append(row);
        });
    };

    function applyHighlight(row) {
        var row = $(row);
        tBody.children('tr').removeClass('msc-highlight');
        row.addClass('msc-highlight');

    };

</script>