﻿@model List<MusicSEC.ViewModels.CLessonVM>

<div>
    <table id="tblLessons">
        <thead>
            <tr>
                <th>Date</th>
                <th>Start Time</th>
                <th>Studio</th>
                <th>Instructor</th>
                <th>Student</th>
            </tr>
        </thead>
        <tbody data-id="@Model[0].CInstructorID">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.dtmDate.ToShortDateString()</td>
                    <td>@item.ConvertStartTime</td>
                    <td>@item.strStudioName</td>
                    <td>@item.strInstructorName</td>
                    <td>@item.strStudioName</td>
                </tr> 
            }
        </tbody>
    </table>
</div>