﻿@model List<MusicSEC.ViewModels.CLessonVM>
<style>
    #tblLessons {
        margin:auto;
        margin-top:10px;
    }

        #tblLessons tr {
            border-bottom:1px solid white;
        }

    /*.msc-scrollable-y {
        height:315px;
        overflow-y:auto;
        overflow-x:hidden;
        width:98%;
        margin-top:1%;
    }*/
</style>
<div class="msc-scrollable-y">
     <table id="tblLessons">
        <thead>
            <tr>
                <th>Date</th>
                <th>Start Time</th>
                <th>Studio</th>
                <th>Instructor</th>
                <th>Student</th>
                <td>@Html.ActionLink("Schedule", "StudentSchedule", "CLesson", new { studentId = ViewBag.StudentId, instructorId = ViewBag.InstructorId }, new { @class = "msc-button-link" })</td>
            </tr>
        </thead>
        <tbody data-id="@ViewBag.InstructorId">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.dtmDate.ToShortDateString()</td>
                    <td>@item.ConvertStartTime</td>
                    <td>@item.strStudioName</td>
                    <td>@item.strInstructorName</td>
                    <td>@item.strStudentName</td>
                    <td>@Html.ActionLink("Reschedule","StudentReschedule","CLesson", new { instructorId = @ViewBag.InstructorId, studentId = @ViewBag.StudentId, lessonId = @item.CLessonID }, new { @class = "msc-button-link" })</td>
                </tr> 
            }
        </tbody>
    </table>
</div>
