﻿@model List<MusicSEC.ViewModels.CLessonVM>
<style>
   

    #filterContainer {
        height:325px;
        width:98%;
        margin:auto;
        margin-top:10px;
    }

        #filterContainer span label {
            min-width:150px;
            text-align:right;
            display:inline-block;
        }

    #tblLessons {
        width:100%;

    }

    #tblLessons tr {
        border-bottom:1px solid white;
        width:96%;
    }

        #tblLessons tr td, #tblLessons tr th {
            min-width:125px;
        }

            #tblLessons tr td span {
                display:inline;
            }

    .msc-tbl-scrollable {
        width:100%;
        height:305px;
        overflow-y:auto;
    }
</style>

<div id="filterContainer">
    <span>
        <label>Status Filter</label>
        @Html.DropDownList("ddlFilter", (SelectList)ViewBag.LessonFilter, "--Select Status--")
        <label>Days Out</label>
        @Html.DropDownList("ddlDaysOut", (SelectList)ViewBag.DaysOut)
        @if (ViewBag.NewStudents > 0)
        {
            string strMessage = (@ViewBag.NewStudents > 1) ? " *You have new students" :  "*You have a new student";
            <label class="msc-highlight">@strMessage</label> 
        }
    </span>
    <div class="msc-tbl-scrollable">
    <table id="tblLessons">
        <thead>
            <tr>
                <th>Date</th>
                <th>Start Time</th>
                <th>Studio</th>
                <th>Instructor</th>
                <th>Student</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-id="@ViewBag.InstructorId">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.dtmDate.ToShortDateString()</td>
                    <td>@item.ConvertStartTime</td>
                    <td>@item.strStudioName</td>
                    <td>@item.strInstructorName</td>
                    <td>@item.strStudentName</td>
                    <td>
                        <img src="~/Content/images/home_note.png" style="width:30px;height:30px;background-color:white;display:inline-block;vertical-align:middle;margin-right:3px;"  class="mcs-notes-img" title="@item.strComments" />
                        <span>
                            <input type="button" name="btnEmail" value="Email" data-studentid="@item.CStudentID" /> 
                            <span class="spSent"><label>Email Sent</label></span>
                        </span>
                    </td>
                </tr> 
            }
        </tbody>
    </table>
</div>
</div>
<div id="dlgEmail"></div>
<script>
    var ddlFilter = $('select[name=ddlFilter]');
    var ddlDaysOut = $('select[name=ddlDaysOut]');
    var tBody = $('#tblLessons > tbody');
    var currentBtnEmail;

    $('.spSent').hide();

    ddlFilter.change(function () {
        loadLessons();
    });

    ddlDaysOut.change(function () {
        loadLessons();
    });

    function loadLessons() {
        var url = '/CLesson/ManageLessonsInstructor?instructorId=' + tBody.data('id') + '&statusId=' + ddlFilter.val() + '&daysOut=' + ddlDaysOut.val();
        $('#filterContainer').load(url);
    };

    $(document).on('click', 'input[name=btnEmail]', function () {
        var studentId = $(this).data('studentid');
        currentBtnEmail = $(this);
        $.get('@Url.Action("EmailStudent", "CLesson")', { studentId: studentId }, function (result) {
            $('#dlgEmail').html(result);
            $('#dlgEmail').dialog('open');
        });
    });

    $('#dlgEmail').dialog({
        autoOpen: false,
        title: 'Email',
        width: 'auto',
        buttons: {
            'Send': function () {
                var sender = $(this).find('input[name=txtEmail]').val();
                var subject = $(this).find('input[name=txtSubject]').val();
                var body = $(this).find('textarea[name=txtBody]').val();
                sendEmail(subject, body, sender);
                $(this).dialog('close');
            },
            'Cancel': function () {
                $(this).dialog('close');
            }
    }
    });

    function sendEmail(subject, body, sender) {
        if (subject == null || subject == "" || body == null ||
           body == "" || sender == null || sender == "")
            return;
    
        $.post('@Url.Action("SendEmail")', { subject: subject, body: body, emailAddress: sender }, function (result) {
            if (result) {
                currentBtnEmail.parent().find('.spSent').show();
            }
        });
      
    };

    $.each($('.mcs-notes-img'), function (index, img) {
        var img = $(img);
        if (img.attr('title') != '' && img.attr('title') != null) {
            img.css('border', '2px solid lightgreen');
        }
    });
</script>


