﻿@model Int32

<style>
    #spDate, #spRange{
        display:inline-block;
        width:175px;
    }

    .msc-dtm-container h3 {
        color:white;
        text-align:center;
        margin-bottom:5px;
    }

    .msc-dtm-buttonpane {
        display:inline-block;
    }
    .msc-dtm-buttonpane input[type=text] {
        width:125px;
        margin-top:0px;
        margin-left:3px;
        background:none;
        border:none;
        color:white;
    }

    .msc-dtm-buttonpane button {
        float:left;
        margin:0px;

    }

    #displayTable {
        width:97%;
    }

        #displayTable tr th, #displayTable tr td {
            width:25%;
        }

    .msc-dtm-span input{
        margin-right:5px;
    }
</style>
@*<input type="button" id="test" value="test" />*@
<div class="msc-dtm-container">
    <h3>Search Options</h3>
    <span class="msc-dtm-span">
        <label>Date</label>
        <input type="radio" name="rdDate" value="0" checked="checked" />
        <label>Date Range</label>
        <input type="radio" name="rdDate" value="1" />
        <input type="button" name="btnSearch" value="Search" />
    </span>
    <br/>
    <span class="msc-dtm-buttonpane">
        <span id="spDate">
            <input type="text" name="txtDate1" value="@DateTime.Now.ToShortDateString()" />
        </span>
        <span id="spRange">
            <input type="text" name="txtDate2" value="@DateTime.Now.AddDays(7).ToShortDateString()" />
        </span>
    </span>
    <table class="displayTable">
        <thead>
            <tr style="border-bottom:1px solid white;">
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Choose</th>
            </tr>
        </thead>
        <tbody data-lesson-id="@Model">

        </tbody>
    </table>

</div>
<script>
    $('#test').click(function () {
        for (i = 0; i < lessonInfoList.length; i++) {
            alert(lessonInfoList[i].StudioId + " : " + i);
        }
    });

    var date1 = $('input[name=txtDate1]');
    var date2 = $('input[name=txtDate2]');
    var radio = $('input[name=rdDate]');
    var spRange = $('#spRange');
    var displayTable = $('.displayTable');
  //  var tBody;// = $('#displayTable > tbody');
    var useRange = false;
    var btnSearch = $('input[name=btnSearch]');
    var lfInstructorId;
   // var lessonInfoList = [];
    
    var lessonInfo = function (index, studioid, starttime, studentid, lessonid) {
        this.Index = index;
        this.StudioId = studioid;
        this.StartTime = starttime;
        this.StudentId = studentid;
        this.LessonId = lessonid;
    };

    spRange.hide();

    radio.change(function () {
        if ($(this).val() == 0) {
            spRange.hide();
            useRange = false;
        }
        else {
            spRange.show();
            useRange = true;
        }
    });

    btnSearch.click(function () {
        search(this);
    });

    $(function () {
        date1.datepicker({
            showOn: 'button',
            onSelect: function () { 
                date1 = $(this);
            }
        }).next('button').text('').button({
            icons: {
                primary: 'ui-icon-calendar'
            },
            text: false
        });
    });

    $(function () {
        date2.datepicker({
            showOn: 'button',
            onSelect: function () {
                date2 = $(this);
            }
        }).next('button').text('').button({
            icons: {
                primary: 'ui-icon-calendar'
            },
            text: false
        });
    });

    $(document).on('click', 'input[name=btnlfSelect]', function () {
        var btn = $(this);
        var exists = false;
        var record;
        applyHighlight(btn.parents('tr'));
        var lessonId = btn.parents('.displayTable').children('tbody').data('lesson-id');
        for (i = 0; i < lessonInfoList.length; i++) {
            if (lessonInfoList[i].StudioId == btn.data('studio-id')) {
           //     alert(lessonInfoList[i].StudioId + " : " + btn.data('studio-id'));
                record = lessonInfoList[i];
                record.StudioId = btn.data('studio-id');
                record.StartTime = btn.data('start');
                record.StudentId = btn.data('student-id');
                record.LessonId = lessonId;
                exists = true;
                break;
            }
            
        }
        if (!exists) {
            record = new lessonInfo(btn.data('cnt'), btn.data('studio-id'), btn.data('start'), btn.data('student-id'), lessonId);
            lessonInfoList.push(record);
        }
    });

    function setlfInstructorId(id) {
        lfInstructorId = id;
    };

    function setlfStudentId(id) {
        lfStudentId = id;
    };

    function getlfStudioId() {
        return currentStudioId;
    };

    function getlfStartTime() {
        return startTime;
    };

    function getlfLessonInfo() {
        return lessonInfoList;
    };

    function search(currentButton) {
        var dtm1 = date1.val();
        var dtm2 = (date2.is(':visible')) ? date2.val() : "";
        var btn = $(currentButton);
        var parent = btn.parent().parent();
        var tbody = parent.children('.displayTable').children('tbody');
        $.get('@Url.Action("InstructorsFilterLessons", "CLesson")', { date1 : dtm1, date2 : dtm2, instructorId : lfInstructorId }, function (result) {
            generateTBody(result, tbody);
        });
    };

    function generateTBody(result, tBody) {
        tBody.empty();
        $.each(result, function (index, tr) {
            var row = '<tr>' +
                            '<td><label title="' + tr.Day + '">' + tr.Date + '</label></td>' +
                            '<td><label>' + tr.Start + '</label></td>' +
                            '<td><label>' + tr.End + '</label></td>' +
                            '<td><input type="button" name="btnlfSelect" value="Select" data-studio-id="' + tr.StudioId + '" data-start="' + tr.InternalStart + '" data-student-id="' +  tr.StudentId + '" data-cnt="' + index + '"/></td>' +
                       '</tr>';
            tBody.append(row);
        });
    };

    function applyHighlight(row) {
        var row = $(row);
        //    tBody.children('tr').removeClass('msc-highlight');
        row.parents('.displayTable').children('tbody tr').removeClass('msc-highlight');
        row.addClass('msc-highlight');

    };

</script>
