﻿@model List<MusicSEC.ViewModels.CLessonVM>
<style>
    .msc-review {
        height:300px;
        width:80%;
        overflow-y:auto;
        margin:auto;
    }

    .msc-review span.msc-rvw-sp-label{
        display:inline-block;
        width:130px;
    }

        .msc-review textarea {
            display:block;
            height:100px;
            width:700px;
            margin:auto;
        }

        .msc-review span select {
            display:inline-block;
             width:300px;
        }

    .msc-review input[name=btnFilter] {
        display:inline-block;
        float:right;
        margin-right:25px;
    }

    .msc-rvw-span {
        min-width:725px;
    }

        .msc-review li {
            border-bottom:1px solid white;
        }
</style>

<div class="msc-review">
@using (Html.BeginForm("ReviewLessonsInstructor", "CLesson"))
{
<ul>
    <li>
        <span class="msc-rvw-sp-label">Date</span>
        <span class="msc-rvw-sp-label">Time</span>
        <span class="msc-rvw-sp-label">Studio</span>
        <span class="msc-rvw-sp-label">Student</span>
        <span class="msc-rvw-sp-label">Status</span>
        <span><input type="submit" value="Update Lessons" /></span>
    </li>
    @for (int i = 0; i < Model.Count; i++)
    {
        <li data-id="@Model[i].CLessonID">
            <span class="msc-rvw-sp-label">@Model[i].dtmDate.ToShortDateString()</span>
            <span class="msc-rvw-sp-label">@Model[i].ConvertStartTime</span>
            <span class="msc-rvw-sp-label">@Model[i].strStudioName</span>
            <span class="msc-rvw-sp-label">@Model[i].strStudentName</span>
            <span class="msc-rvw-sp-label">@Model[i].GetStatus</span>
            <span><input type="button" name="btnReview" value="Review"/></span>
            <div class="hdnDiv">
                <br />
                    <span class="msc-rvw-span">
                        @Html.Label("Status")
                        @Html.DropDownListFor(model => Model[i].intStatusId, (SelectList)ViewBag.LessonFilter, "--Lesson Type--", new { @data_status = @Model[i].intStatusId, @class = "lesson-filter" })
                        <input type="button" name="btnFilter" value="Lesson Filter" />
                    </span>
                <br />
                <div class="hdnInternalComments">
                    @Html.Label("Internal Comments")                
                    @Html.TextAreaFor(model => Model[i].strComments)
                </div>
                @Html.HiddenFor(model => Model[i].CLessonID)
                @Html.HiddenFor(model => Model[i].CStudioID, new { @class = "CStudioID" })
                @Html.HiddenFor(model => Model[i].intStartTime, new { @class = "intStartTime" })
                @Html.HiddenFor(model => Model[i].intStatusId)
                @if(Model[i].intStatusId == 3){
                    
                    <div class="hdnLessonFilter">
                      @*  @{Html.RenderAction("LessonFilter", "CLesson"); }*@
                        @{Html.RenderAction("MultiLessonFilter", "CLesson", new { lessonId = @Model[i].CLessonID }); }
                    </div>
                }
            </div>
        </li> 
    }
</ul>
<input type="hidden" name="instructorId" value="@ViewBag.InstructorId" />
<input type="hidden" name="hdnLessonInfoList" />

}
</div>

<script>
    var lessonFilters = $('.lesson-filter');
    var hdnLessonFilter = $('.hdnLessonFilter');
    var btnFilter = $('input[name=btnFilter]');
    var lessonInfoList = [];

    $('form').on('submit', function () {
        $('input[name=hdnLessonInfoList]').val(JSON.stringify(lessonInfoList));
    });
   
    $('.hdnDiv').hide();
    hdnLessonFilter.hide();
    $('input[name=btnReview]').click(function (e) {
        $(this).parent().parent().addClass('msc-highlight');
        $(this).parent().parent().children('.hdnDiv').toggle();
    });

    btnFilter.click(function () {
        $(this).parent().parent().children('.hdnInternalComments').toggle();
        $(this).parent().parent().children('.hdnLessonFilter').toggle();
    });

    $.each(lessonFilters, function (index, filter) {
        var status = $(filter).data('status');
        if (status == 3) {
            setlfInstructorId($('input[name=instructorId]').val());
        }
        $.each(filter, function (count, option) {
            var option = $(option);
            if (option.val() == status) {
                option.attr('selected', 'selected');
            }
        });
    });
    
  

    //$(document).on('click', 'input[name=btnlfSelect]', function () {
    //    var hdnStudio = $(this).parents('.hdnDiv').children('.CStudioID');
    //    var hdnStart = $(this).parents('.hdnDiv').children('.intStartTime');
    //    hdnStudio.val(getlfStudioId());
    //    hdnStart.val(getlfStartTime());
    //});
</script>