﻿
<style>
    .msc-scrollable-y {
        height:315px;
        overflow-y:auto;
        overflow-x:hidden;
        width:98%;
        margin-top:1%;
    }
</style>
<div>
    @using(Html.BeginForm("VerifyReschedule", "CLesson"))
    {
    <input type="button" name="btnSubmit" value="Reschedule" />
        <input type="hidden" name="hdnInstructorId" value="@ViewBag.InstructorId" />
        <input type="hidden" name="hdnStudentId" value="@ViewBag.StudentId" />
        <input type="hidden" name="hdnLessonId" value="@ViewBag.LessonId" />
        <input type="hidden" name="hdnStudioId" />
        <input type="hidden" name="hdnStartTime" />
    }
    <div class="msc-scrollable-y">
    @{Html.RenderAction("LessonFilter", "CLesson"); }
    </div>
</div>
<script>
    var hdnInstructorId = $('input[name=hdnInstructorId]').val();
    var hdnStudentId = $('input[name=hdnStudentId]').val();
    var hdnLessonId = $('input[name=hdnLessonId]').val();
    var hdnStudioId = $('input[name=hdnStudioId]');
    var hdnStartTime = $('input[name=hdnStartTime]');
    var btnReschedule = $('input[name=btnReschedule]');
    var btnSubmit = $('input[name=btnSubmit]');

    setlfInstructorId(hdnInstructorId);
    setlfStudentId(hdnStudentId);

    btnSubmit.click(function(){
        hdnStudioId.val(getlfStudioId());
        hdnStartTime.val(getlfStartTime());
        if (hdnStartTime != null && hdnStartTime != "" ||
           hdnStudioId != null && hdnStudioId != "") {
            $(this).submit();
        }
    });

</script>