﻿<style>
    .msc-sch-stu {
        display:block;
        width:615px;
        height:325px;
        margin:auto;
        overflow-y:auto;
    }
</style>
<div class="msc-sch-stu">
 @{Html.RenderAction("LessonFilter", "CLesson"); }
   
</div>
 @using (Html.BeginForm("ScheduleLesson", "CLesson"))
 {
    <input type="hidden" name="hdnStudentId" value="@ViewBag.StudentId" />
    <input type="hidden" name="hdnInstructorId" value="@ViewBag.InstructorId" />
    <input type="hidden" name="hdnStudioId" />
    <input type="hidden" name="hdnStartTime" />
    <input type="submit" name="btnSubmitLesson" value="Schedule" />
 }
<script>
    var hdnStudentId = $('input[name=hdnStudentId]').val();
    var hdnInstructorId = $('input[name=hdnInstructorId]').val();
    var hdnStartTime = $('input[name=hdnStartTime]');
    var hdnStudioId = $('input[name=hdnStudioId]');
    var btnSubmitLesson = $('input[name=btnSubmitLesson]');
    setlfInstructorId(hdnInstructorId);
    setlfStudentId(hdnStudentId);

    btnSubmitLesson.click(function (e) {
        e.preventDefault();
        hdnStudioId.val(getlfStudioId());
        hdnStartTime.val(getlfStartTime());
        if (hdnStartTime != null && hdnStartTime != "" ||
           hdnStudioId != null && hdnStudioId != "") {
                $(this).submit();
        }
    });
</script>

