﻿
@{
    ViewBag.Title = "Layout Editor";
}

@*@section mscContentContainer2 {
    <section id="msc-content-container-2" class="msc-content-container-2">
       
    </section>
}*@
<div class="msc-padded-row">
    <div id="msc-content-container-3">

    </div>
    <div id="msc-content-container-4">

    </div>
</div>
@*<span>@Html.ActionLink("< Back", "Dash", "Dashboard")</span>*@
<div id="dlgHtmlEditor"></div>
<script>
    $(document).ready(function () {
        var contentContainers = $('[id^="msc-content-container-"]');
        var currentContainer = 1;

        initContainers();
        initLink();

        function initContainers() {
            $.each(contentContainers, function (index, value) {
                var container = $(value);
                var top = container.offset().top;
                var left = container.offset().left;
                var width = container.width() - 125;
                var height = container.height() - 25;
                var button = document.createElement('button');
                container.css('border', '2px inset black');
                button.setAttribute('name', 'btnEdit');
                button.id = 'btnCC' + index;
                button.innerText = 'Edit Content';
                button.textContent = 'Edit Content';
                $('body').append(button);
                $(button).css('position', 'absolute');
                $(button).css('top', (top + height));
                $(button).css('left', (left + width));
                
            });
        };

        function initLink() {
            var span = '<span id="spLink">@Html.ActionLink("< Back", "Dash", "Dashboard")</span>';   
            $('body').append(span);
            $('#spLink').css({
                'display': 'block',
                'clear': 'both',
                'font-size': '1.1em',
                'margin' : '2% 7%'
            });
        };

        $('#dlgHtmlEditor').dialog({
            autoOpen: false,
            width: 'auto',
            height: 'auto',
            resize: false
        });
    
        $(document).on('click', '[id^="btnCC"]', function () {
            currentContainer = parseID($(this).attr('id'));
            $.get('@Url.Action("HtmlEditor")', {}, function (result) {
                $('#dlgHtmlEditor').html(result);
                $('#dlgHtmlEditor').dialog('open');
                if (contentContainers.length >= currentContainer && contentContainers[currentContainer] != null) {
                    setEditorHtml($(contentContainers[currentContainer]).html());
                    setBackColor($(contentContainers[currentContainer]).css('background-color'));
                }
            });
        });

        function parseID(buttonId) {
            return buttonId.substring(buttonId.length - 1, buttonId.length);
        };

        $(document).on('click', 'input[name=btnSave]', function () {
            var editor = getEditorHtml();
            var html = editor.divHtml;
            var usesBackColor = UsesBackgroundColor();
            var backColor = (usesBackColor) ? editor.backColor : 'transparent';         

            $(contentContainers[currentContainer]).css('background-color', backColor);
            $(contentContainers[currentContainer]).html(html);
            saveContent(contentContainers[currentContainer]);
        });

        function saveContent(container) {
            var container = $(container);
            var backColor = container.css('background-color');
            var Html = container.html();
            var containerID = container.attr('id');
            var imageID = 0;
            var isBackgroundImg = 'false';

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveUserContent")', 
                data: {
                    containerId: containerID,
                    html: Html,
                    backgroundcolor: backColor,
                    isbackgroundimg: isBackgroundImg,
                    imageId: imageID
                },
                success: function (result) {
                    location.reload(true);
                },
                error: function () {
                    alert('error');
                }
            });
        }
    });
</script>
