﻿@model MusicSEC.ViewModels.CLayoutPreferencesVM
<link href="~/Content/colorpicker.css" rel="stylesheet" />
<link href="~/Content/layout.css" rel="stylesheet" />
<script src="~/Scripts/colorpicker.js"></script>
@{
    ViewBag.Title = "LayoutPrefs";
    List<SelectListItem> lstLayouts = new List<SelectListItem>();
    foreach (KeyValuePair<string, string> pair in Model.dctLayouts)
    {
        lstLayouts.Add(new SelectListItem() { Text = pair.Key, Value = pair.Value, Selected = (Model.strChosenLayout == null || pair.Value.Trim().ToUpper() != Model.strChosenLayout.Trim().ToUpper()) ? false : true });
    }
}


@using (Html.BeginForm())
{
    <div class="msc-lesson-type-create">
    @Html.HiddenFor(model => model.CUserLayoutPreferencesID)
    @Html.HiddenFor(model => model.strBackgroundColor)
    @Html.HiddenFor(model => model.strFontColor)
    @Html.HiddenFor(model => model.CUserImageID)

    <p style="padding:20px;">Changes will not take effect until page is refreshed.</p>

<div class="msc-dsp-row">
    <div class="msc-dsp-cell">
       @Html.Label("Layout")
    </div>
    <div class="msc-dsp-cell msc-right-align">
       @Html.DropDownListFor(model => model.strChosenLayout, lstLayouts)
    </div>
</div>
     <div class="msc-dsp-row">
        <div class="msc-dsp-cell">
            @Html.Label("Font color")
        </div>
        <div class="msc-dsp-cell">
            <div id="colorSelector2">
                <div style="background-color:@Model.strFontColor;"></div>
            </div>
        </div>
    </div>
    <div class="msc-dsp-row">
        <div class="msc-dsp-cell">
            @Html.Label("Background color")
        </div>
        <div class="msc-dsp-cell">
            <div id="colorSelector">
                <div style="background-color:@Model.strBackgroundColor;"></div>
            </div>
        </div>
    </div>
   <div class="msc-dsp-row">
       <div class="msc-dsp-cell">
           @Html.Label("Background image")
           <label id="lblImageName">@Model.strImageName</label>
       </div>
       <div class="msc-dsp-cell">
           <input type="button" id="btnBrowse" value="Browse" />
           <input type="button" id="btnRemove" value="Remove" />
       </div>
   </div>
</div>   
<p style="text-align:center;"> 
<input type="submit" value="Save"/>
</p>
}

<div id="dlgImageBrowser"></div>
<script>
    var btnBrowse = $('#btnBrowse');
    var btnRemove = $('#btnRemove');
    var hdnImageId = $('input[name=CUserImageID]');
    var lblImageName = $('#lblImageName');

    btnBrowse.click(function () {
        $.get('@Url.Action("DisplayPictureGrid", "CUserImages")', {}, function (result) {
            $('#dlgImageBrowser').html(result);
            $('#dlgImageBrowser').dialog('open');
        });
    });

    btnRemove.click(function () {
        
        hdnImageId.val(null);
        lblImageName.text('');
    });

    $('#colorSelector').ColorPicker({
        color: '#000ff',
        onShow: function (colpkr) {
            $(colpkr).fadeIn(500);
            return false;
        },
        onHide: function (colpkr) {
            $(colpkr).fadeOut(500);
            return false;
        },
        onChange: function(hsb, hex, rgb){
            $('#colorSelector div').css('background-color', '#' + hex);
            $('input[name=strBackgroundColor]').val('#' + hex);
        }
    });

    $('#colorSelector2').ColorPicker({
        color: '#000ff',
        onShow: function (colpkr) {
            $(colpkr).fadeIn(500);
            return false;
        },
        onHide: function (colpkr) {
            $(colpkr).fadeOut(500);
            return false;
        },
        onChange: function (hsb, hex, rgb) {
            $('#colorSelector2 div').css('background-color', '#' + hex);
            $('input[name=strFontColor]').val('#' + hex);
        }
    });

    $('#dlgImageBrowser').dialog({
        autoOpen: false,
        width:750
    });

    $('#dlgImageBrowser').click(function () {
        hdnImageId.val(getCurrentImageId());
        $('#dlgImageBrowser').dialog('close');
        getImageInfo();
    });

    function getImageInfo() {
        $.get('@Url.Action("getImageInfo", "CUserImages")', { imageId: hdnImageId.val() }, function (result) {
            lblImageName.text(result);
        });
    };
</script>
