﻿
@Html.Partial("_Calendar")

<script src="~/Scripts/jcalendar.js"></script>
<script>
    var calendar = new Calendar('calendar');
    var cal = $('#calendar');
    var details = $('#details');
    var currentDisplayed = 0;
    setActive();
    toggleDisplay();

    function setActive() {
        var info = calendar.getCurrentDateInfo();
        $.get('@Url.Action("GetNonOperationalDays")', { month : info.month + 1, year : info.year }, function (result) {
            calendar.setActive(result)
        });
    };

    $(document).on('dblclick', '#calendar tbody', function () {
        var info = calendar.getCurrentDateInfo();
        $.get('@Url.Action("Details", "CDay")', { day: info.day, month: info.month + 1, year: info.year }, function (result) {
            $('#details').html(result);
            toggleDisplay();
        });
    });

    $(document).on('click', '.cal-nav-btn-prev', function () {
        setActive();
    });

    $(document).on('click', '.cal-nav-btn-next', function () {
        setActive();
    });

    function toggleDisplay() {
        if (currentDisplayed == 0) {
            details.hide();
            cal.show();
            currentDisplayed = 1;
        }
        else {
            details.show();
            cal.hide();
            currentDisplayed = 0;
        }
    };
</script>