﻿@model MusicSEC.Models.CStudioName

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="msc-lesson-type-create">
    <h3>Edit Studio</h3>
    <fieldset>
        <legend>CStudioName</legend>

        @Html.HiddenFor(model => model.CStudioNameID)

        <div class="msc-editor">
            @Html.LabelFor(model => model.strStudioName)
            @Html.EditorFor(model => model.strStudioName)
            @Html.ValidationMessageFor(model => model.strStudioName)
        </div>
    </fieldset>
    </div>
       <p class="msc-lesson-type-panel">
            <span>
                 @Html.ActionLink("< Back", "Index")
                <input type="submit" value="Save" style="margin-left:275px; margin-top:0px;" />
            </span>
        </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
