﻿@model IEnumerable<MusicSEC.Models.CStudioName>

<table class="msc-lesson-type-tbl">
    <caption>@Html.Label("Studio Names")</caption>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.strStudioName)
        </td>
        <td></td>
        <td class="msc-lesson-type-buttonpane">
            @Html.ActionLink("Edit", "Edit", new { id=item.CStudioNameID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CStudioNameID })
        </td>
    </tr>
}

</table>
<p class="msc-lesson-type-panel">
    <span>
        @Html.ActionLink("< Back", "Index", "CLessonType")
        @Html.ActionLink("Create New", "Create")
        @Html.ActionLink("Next >", "Finish", "CDay")
    </span>
</p>