﻿@{
    ViewBag.Title = "Home Page";
}
@*@section mscContentContainer2 {
    <section id="msc-content-container-2" class="msc-content-container-2">
       
    </section>
}*@

<div id="msc-main-cnt-container" class="msc-padded-row">
    <div id="msc-content-container-3">

    </div>
    <div id="msc-content-container-4">

    </div>
</div>
