﻿@{
    ViewBag.Title = "Instructors";
}
<style>
    .msc-home-instructors {
        width:960px;
        height:450px;
        background-color:rgba(0,0,0,.6);
        margin:auto;
        overflow-y:auto;
        overflow-x:hidden;
    }

    #btnSignUp {
        font-size:.8em;
        padding:8px 3px;
    }

        #btnSignUp:hover {
            border:1px inset gold;
        }
</style>
 @Html.Partial("_InstructorBlurb")
<div class="msc-home-instructors">
   @* @Html.Partial("_InstructorBlurb")*@
    @{ Html.RenderAction("InstructorBrowser", "CInstructor"); }
</div>
<input type="button" id="btnSignUp" class="msc-absolute" value="Sign up with this instructor"/>
<script>
    var btnSignUp = $('#btnSignUp');
    var container = $('ul>li.msc-inst-br-item');
    var currentId = 0;
    var instructFullName = "";
    var isOver = false;

    btnSignUp.css('display', 'none');

    $(document).on('click', '.msc-inst-br-item', function (e) {
        instructFullName = $(e.target).parents('li.msc-inst-br-item').find('.msc-name').text();
       
        btnSignUp.css('display', 'block');
        setOffset($(e.target).parents('li.msc-inst-br-item').find('img'));

        

    });

  
    btnSignUp.click(function () {
        var instructorId = getID();
        var url = '/CStudent/CreateStudent?instructorId=' + instructorId;
        window.location.href = url;
        
    });

    btnSignUp.hover(function () {
        btnSignUp.attr('title', 'sign up with ' + instructFullName);
    });

  
 

    

    function setOffset(button) {
        var offset = button.offset();
        var height = button.height();
        var width = button.width();
        var newTop = offset.top + height;
  
  //      alert('top: ' + offset.top + ' left: ' + offset.left + ' newTop: '  + newTop + btnSignUp.is(':visible'));
  

        btnSignUp.offset({
            top: newTop,
            left: offset.left
        });

       

  //      alert(btnSignUp.offset().top + ' ' + btnSignUp.offset().left);
    };
</script>
