﻿@model MusicSEC.ViewModels.CBusinessSettingsVM


<div id="msc-bs-settings">
@using (Ajax.BeginForm("BusinessSettings", "CBusinessSettings", new AjaxOptions 
                                                                { 
                                                                    HttpMethod = "POST",
                                                                    InsertionMode = InsertionMode.Replace,
                                                                    UpdateTargetId = "#dash-cluster" 
                                                                 
                                                                }))
{
    <div class="msc-dsp-row msc-bs-settings">
        <div class="msc-dsp-cell">
            <table class="msc-bs-table">
                <tr>
                    <td>@Html.Label("Business Name : ")</td>
                </tr>
                <tr>
                    <td>@Html.TextBoxFor(model => model.strBusinessName)</td>
                </tr>
                <tr>
                    <td>@Html.Label("Lesson Time in Minutes : ")</td>
                </tr>
                <tr>
                    <td>@Html.TextBoxFor(model => model.intLessonLengthInMins, new { @type = "number" })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Terms of Agreement : ")</td>
                </tr>
                <tr>
                    <td colspan="2">@Html.TextAreaFor(model => model.strTermsOfAgreement)</td>
                </tr>
            </table>
        </div>
        <div class="msc-dsp-cell">
            <ul class="msc-op-container">
                <li>
                    <span class="msc-op-cell">@Html.Label("Day")</span>
                    <span class="msc-op-cell">@Html.Label("Start Time")</span>
                    <span class="msc-op-cell">@Html.Label("End Time")</span>
                    <span class="msc-op-cell">@Html.Label("Operational")</span>
                </li>
                @for (int i = 0; i < Model.lstOperationsLengths.Count; i++)
                {
                    <li>@Html.EditorFor(model => Model.lstOperationsLengths[i])</li>
                } 
            </ul>            
        </div>
    </div>
    <span class="msc-bs-buttonpane">
        <input type="submit" value="Save" @*class="float-left"*@ style="margin-left:33%;"/>
        @Html.ActionLink("Next >", "Index", "CLessonType")
    </span>
    @Html.HiddenFor(model => model.CBusinessSettingsID)
}
</div>