﻿nav {
    font-size:1.25em;
    padding:5px;
}
    nav ul {
        width:93%;
        margin:auto;
    }

    nav li {
        width:33%;
        display:inline-block;
        text-align:center;
    }

#login {
    position:absolute;
    left:85%;
    top:5px;
}

#msc-content-container-1 {
    display:block;
    margin:auto;
    width:1280px;
    height:125px;
    overflow:auto;
}

#msc-content-container-1 p {
    width:100%;
    height:100%;
    margin:0px;
    vertical-align:middle;
    display:block;
}

#msc-content-container-2 {
    width:425px;
    height:435px;
    float:left;
    margin-left:50px;
    overflow:auto;
}

#msc-content-container-3 {
    width:99%;
    height:175px;
    /*margin-right:1.1%;*/
    margin-top:10px;
    padding:7px;
}

#msc-content-container-4 {
    width:99%;
    height:175px;
    /*margin-left:1.07%;*/
    margin-top:10px;
    padding:7px;
}

#msc-content-container-5 {
    width:1280px;
    height:125px;
    clear:both;
    margin-top:20px;
    margin:auto;
}

.msc-padded-row {
    float:left;
    width:800px;
    height:435px;
}
