﻿
#msc-content-container-1 {
    display:block;
    width:600px;
    height:125px;
    overflow:auto;
}

#msc-content-container-1 p {
    width:100%;
    height:100%;
    margin:0px;
    vertical-align:middle;
    display:block;
}

#msc-content-container-2 {
    width:1280px;
    height:175px;
    margin:auto;
}

#msc-content-container-3 {
    width:47.5%;
    height:400px;
    float:left;
    /*margin-right:1.1%;*/
    margin-top:10px;
    padding:7px;
}

#msc-content-container-4 {
    width:47.5%;
    height:400px;
    float:right;
    /*margin-left:1.07%;*/
    margin-top:10px;
    padding:7px;
}

#msc-content-container-5 {
    width:1280px;
    height:125px;
    clear:both;
    margin-top:20px;
    margin:auto;
}

.msc-padded-row {
    width:1280px;
    height:435px;
}