﻿body {
    font-family:"Times New Roman";
}

input[type=button], input[type=submit] {
     border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    background:linear-gradient(white, #d3dce0);
    min-width:125px;
    border:2px inset black;
}




ul {
    list-style-type:none;
    padding:.1em;
}

input[type="radio"] {
    width:15px;
    display:inline;
    background-color:transparent;
}

span input {
    width:40%;
}

span label {
    display:inline;
}


.msc-dsp-table {
    display:table;
}

.msc-dsp-row {
    display:table-row;
}

.msc-dsp-cell {
    display:table-cell;
    vertical-align:top;
}

.msc-block {
    display:block;
}

/*Instructor profiles*/
.msc-profile-lg {
    max-height:250px;
    max-width:250px;
}

.msc-profile-sm {
    max-height: 75px;
    max-width: 75px;
}

#instructorProfileDescript {
    height:100px;
    width:400px;
    overflow-y:auto;
}

/*Label */
.msc-label-for {
    display:inline-block;
    text-align:right;
}

.msc-name {
    display:inline-block;

}

/*Lists*/

.msc-li-horizontal {
    display:inline;
}

/*Misc*/
.msc-highlight {
    background-color:rgba(255, 255, 0, .2);
}

.msc-overflow {
    overflow-y:auto;
}

.msc-p {
    padding:20px;
}

.msc-absolute {
    position:absolute;
}

/*Lesson Types*/
.msc-lesson-type-buttonpane {
    text-align:right;
}

.msc-lesson-type-panel {
    display:block;
    width:90%;
    margin:auto;
    margin-top:10px;
}

    .msc-lesson-type-panel a {
        display:inline-block;
        text-align:center;
        font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
        font-size:1.15em;
        vertical-align:top;
        text-decoration:none;
        padding-top:5px;
        font-weight:bold;
        height:28px;
        border:2px inset black;
        border-radius:8px;
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        background:linear-gradient(white, #d3dce0);
        width:115px;
    }

    .msc-lesson-type-panel span {
        display:inline-block;
    }
      .msc-lesson-type-panel span a {
          margin-left:275px;
    }

        .msc-lesson-type-panel span a:first-child {
            margin-left:0px;
        }
    

.msc-lesson-type-tbl {
    display:block;
    width:470px;
    height:315px;
    background-color:rgba(0, 0, 0, .6);
    margin:auto;
    margin-top:20px;
    border-left:2px inset black;
    border-right:2px inset black;
}

    .msc-lesson-type-tbl tbody {
        height: 290px;
        overflow-y: auto;
    }

        .msc-lesson-type-tbl tbody tr {
            border-bottom:2px inset black;
            margin-left:5px;
            display:block;
            width:448px;
            height:30px;
            padding:3px;
        }

            .msc-lesson-type-tbl tbody tr:hover {
                border:1px inset yellow;
                background-color:rgba(255, 255, 0, .2);
                border-radius:6px;
                -moz-border-radius:6px;
                -webkit-border-radius:6px;
             }

        .msc-lesson-type-tbl tbody td {
            padding-left:10px;
            width:140px;
        }

        .msc-lesson-type-tbl tbody td a {
            color:white;
        }

.msc-lesson-type-create {
    background-color:rgba(0, 0, 0, .6);
    width:470px;
    height:315px;
    border-left:2px inset black;
    border-right:2px inset black;
    margin:auto;
    margin-top:20px;
}

.msc-lesson-type-create h3 {
    color:white;
    text-align:center;
    margin-bottom:25px;
}

    .msc-lesson-type-create .msc-editor {
        padding-left:20px;
    }


/*Image*/

.msc-caption {
    text-align:center;
}
.msc-image-container {
    display:inline-block;
    padding:3px;
    text-align:center;
    width:94%;
    margin:auto;
}

    .msc-image-container input[type=text] {
        display:block;
        margin:auto;
        width:77%;
    }

    .msc-image-container span {
        padding:2px;
    }

.msc-image-upload-container {
    margin-top:20px;
    margin-left:20px;
    width:275px;
    height:315px;
    border-right:2px inset black;
}

    /*.msc-image-container img {
        margin:5px 15px;
    }*/
        .msc-image-container input[type=radio] {
            display:inline-block;
            width:auto;
        }

.msc-button-pane {
    display:inline-block;
    text-align:center;
    width:100%;
}

    .msc-button-pane input[type=submit], .msc-button-pane input[type=button] {
        display:block;
        width:33%;
      
    }


.msc-oplength {
    text-align:center;
    vertical-align:middle;
    width:25%;
}

    .msc-oplength input {
        width:65%;
        text-align:center;
    }

.msc-in-line {
    display:inline-block;
    width:100%;
}

    .msc-in-line input {
        display:inline-block;
    }

.msc-dsp-row msc-bs-settings .msc-dsp-cell {
    padding:10px;
    background-color:red;
}

.msc-bs-buttonpane {
    padding:0px;
    margin:0px;
    display:block;
    width:90%;
    height:45px;
    margin:auto;
}

.msc-bs-buttonpane a {
    float:right;
    margin-top:5px;
    margin-right:50px;
    display:inline-block;
    text-align:center;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size:1.15em;
    vertical-align:top;
    text-decoration:none;
    padding-top:5px;
    font-weight:bold;
    height:28px;
    border:2px inset black;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    background:linear-gradient(white, #d3dce0);
    width:115px;
}

.msc-bs-table {
    width:330px;
    height:auto;
    margin-left:55px;
}

    .msc-bs-table input {
        width:325px;
        display:block;
    }

    .msc-bs-table textarea {
        width:325px;
    }

.msc-op-container {
    width:585px;
    border-left:2px inset black;
}

    .msc-op-container li span {
        display:inline-block;
        width:24%;
        text-align:center;
    }

.msc-dash-container {
    width:1280px;
    margin:auto;
    height:400px;
    display:inline-block;
}

.msc-dash-nav-cell {
    /*border-left:2px inset black;
    border-top:2px inset black;
    border-bottom:2px inset black;*/
    border:2px inset black;
    background-color:rgba(0,0,0,.6);
    width:17%;
    height:400px;
    display:inline-block;
    float:left;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    -moz-border-top-left-radius:30px;
    -moz-border-bottom-left-radius:30px;
    -webkit-border-top-left-radius:30px;
    -webkit-border-bottom-left-radius:30px;

}

.msc-dash-nav li:hover {
     background-color: #d3dce0;
}

.msc-dash-nav li > a {
    display:block;
    width:98%;
    font-size:1.1em;

}

    .msc-dash-nav li > a:hover {
        color:black!important;
    }


#dash-cluster {
    display:inline-block;
    width:82%;
    height:400px;
    color:white;
    background-color:rgba(0,0,0,.6);
    /*overflow:auto;*/
    overflow:hidden;
    float:left;
    border-right:2px inset black;
    border-top:2px inset black;
    border-bottom:2px inset black;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    -moz-border-top-right-radius:30px;
    -moz-border-bottom-right-radius:30px;
    -webkit-border-top-right-radius:30px;
    -webkit-border-bottom-right-radius:30px;
}

    .msc-mng-instruct-container {
        width:98%;
        overflow-y:auto;
        overflow-x:hidden;
    }

        .msc-mng-instruct-container p {
            margin-top:0px;
            text-align:center;
        }

    .msc-mng-instruct-row {
        height:275px;
        background-color:rgba(0, 0, 0, .6);
        width:90%;
        margin:auto; 
        overflow-y:auto;
        overflow-x:hidden;
    }

    #sortable-one, #sortable-two {
        display:block;
        width: 400px;
        margin-left:25px;
        background-color: rgba(0, 204, 0, .15);
    }
    #sortable-two {
        margin-left:50px;
        background-color:rgba(255, 0, 0, .15);
    }

    .msc-mng-instruct-container .msc-dsp-cell h4 {
        color:white;
        text-align:center;
    }


.msc-connected {
    min-height:350px;
    min-width:300px;
}

    .msc-connected li {
        min-height:30px;
        min-width:100px;
    }

.msc-mng-student-container p {
    margin-top:0px;
    text-align:center;
}

.msc-mng-student-row {
        height:275px;
        background-color:rgba(0, 0, 0, .6);
        width:90%;            
        margin:auto; 
        clear:both;
        overflow-y:auto;
        overflow-x:hidden;
    }

  .msc-mng-student-container .msc-dsp-cell h4 {
        color:white;
        text-align:center;
    }
.msc-div-table {
    border: 2px inset black;
    margin-top:3px;
    background-color: rgba(0,0,0,.6);
}

   .msc-profile-instructor-container {
        width:850px;
        height:315px;
        margin:auto;
        margin-top:20px;
        overflow-y:auto;
        overflow-x:hidden;
        border:2px inset black;
    }

.msc-profile-instructor-container textarea {
    width:400px;
    height:75px;
}
.msc-profile-instructor-container select{
    width:310px;
}
    .msc-profile-instructor-row {
        width:600px;
    }

.msc-profile-instructor-row select {
    width:300px;
}


.msc-editor label {
    float:left;
    text-align:right;
    margin:6px 20px 0px 0px;
}

.msc-editor input {
    margin:0px;
}

.msc-dash-nav li {
    text-decoration:none;
    border: 2px inset black;
    text-align:center;
    width:195px;
    padding:2px;
    margin:5px auto 8px auto;
    border-top-left-radius:16px;
   
}

    .msc-dash-nav li a {
        text-decoration:none;
         border-top-left-radius:16px;
    }

.msc-hidden {
    display:none;
}

.msc-avail-container {
    margin-top:4px;
    display:block;
    height:385px;
    width:975px;
    overflow-x:auto;
    overflow-y:hidden;
}

.msc-avail-row {
    display:inline-block;
    /*width:1450px;*/
    width:1670px;
    height:310px;
}

.msc-avail-ul {
    list-style-type:none;
    background-color:rgba(0,0,0,.2);
}

.msc-avail-ul li {
    list-style-type:none;
    border-bottom:1px solid white;
}

    .msc-avail-ul li span input[type=checkbox] {
        padding:0px;
        margin:0px;
    }

.msc-avail-cell {
    display:inline-block;
    vertical-align:top;
    width:225px;
    /*border:2px solid grey;*/
}
  
    .msc-avail-cell span {
        display:inline-block;
        width:30%;
        text-align:center;
        /*border:1px solid green;*/
    }


/*Day Display*/
#AdminDay {
    width:650px;
    display:block;
    margin-left:35%;
    margin-top:20px;
    background-color:rgba(0,0,0,.6);
}

    #AdminDay h2 {
        display:inline-block;
        width:365px;
        color:white;
        text-align:center;
        margin-right:7px;
    }

    #AdminDay span label {
        display:inline-block;
        width:24%;
        text-align:center;
    }
#AdminDay > .admin-day-li input[type=button] {
    display:inline-block;
}



/*Images*/
.msc-sm-img {
    width:75px;
}
.msc-mdm-img {
    width:150px;
}

.msc-lrg-img {
    width:225px;
}

/*Layout Prefs*/

.msc-lesson-type-create .msc-dsp-cell {
    width:230px;
    height:40px;
    text-align:right;
}

    .msc-lesson-type-create .msc-dsp-cell #colorSelector,
    .msc-lesson-type-create .msc-dsp-cell #colorSelector2 {
        margin-left:80%;
    }

    .msc-lesson-type-create .msc-dsp-cell select {
        width:125px;
        margin-right:10px;
    }

/*---------------------------------------
    Calendar
------------------------------------------*/
msc-calendar-container {
    width:900px;
}

.msc-calendar-grid {
    float:left;
    width:45%;
}

.msc-calendar-details {
    float:left;
    width:45%;
}



.cal-main-table {
    background-color:rgba(0,0,0,.7);
    margin:auto;
    margin-top:5px;
}

.cal-main-table th {
    font-size:.85em;
    text-align:center;
}

.cal-main-table td {
    border:2px inset black;
    width:45px; 
    height:45px;   
}
    .cal-main-table h2 {
        text-align:center;
        color:white;
        vertical-align:top;
    }

.cal-body-cell {
    background-color:rgba(0, 204, 0, .15);
    vertical-align:top;
}

.cal-body-cell p {
    width:25px;
    display:inline-block;
    text-align:center;
    margin-left:100%;
    margin-top:0px;
    vertical-align:top;
}

.cal-nav-btn-prev, .cal-nav-btn-next {
    height:100px;
    background-color:rgba(0,0,0,.2);
    color:white;
}

.cal-nav-btn-prev {
    position:absolute;
    margin-left:-35px;
    /*left:38%;*/
    margin-top:110px;
    float:left;
}

.cal-nav-btn-next {
    position:absolute;
    margin-left:85px;
    margin-top:110px;
}

.cal-not-active {
    background-color:rgba(255, 0, 0, .15);

}
/*#instructorList {
    column-count: 3;
}


    #instructorList > ul {
        column-count:1;
    }*/

#instructorList > li {
    display:block;
    width:425px;
    /*height:175px;*/
    height:335px;
    margin:15px 15px 15px 15px;
    float:left;
}

#instructorList img {
    width:150px;
}


#ImageList {
    /*-webkit-column-count:4;
    -moz-column-count:4;
    column-count:4;*/
    height:315px;
    width:95%;
    overflow-y:auto;
}

#ImageList li {
    display:inline-block;
    height:240px;
    width:200px;
    border:2px inset black;
    vertical-align:top;
    margin:5px;
}

#ImageList input {
    vertical-align:bottom;
}

#ImageList img {
    width:150px;
}

#ImageList li div input[type=button]{
    vertical-align:bottom;
    float:right;
}


.ui-widget-overlay {
    opacity:0;
}

.ui-dialog {
    background-color:rgba(0,0,0,.6);
}

.ui-dialog-content {
    background-color:transparent;
}

.ui-datepicker-calendar {
    background-color:rgba(0,0,0,.6);
    padding:2px;
    border:2px inset black;
    border-top:none;
}

.ui-datepicker-header {
     background:linear-gradient(#2d2c2c, black);
}

.ui-datepicker-title {
    color:white;
}

.ui-datepicker-prev, .ui-datepicker-next {
    background-color:white;
}

.ui-dialog-titlebar {
    background:linear-gradient(#2d2c2c, black);
    border:2px inset black;
}

.ui-dialog-title {
    color:white;
}

.ui-dialog-titlebar-close {
    background-color:white;
}

.msc-instruction-blurb {
    margin:auto;
    font-size:1.2em;
    padding:5px;
    width:950px;
    background-color:rgba(0,0,0,.6);
}

.studio-span {
    display:inline-block;
    min-width:200px;
}

.msc-student-profile-container {
    width:38%;
    margin:auto;
    margin-top:5%;
}
/*
    ButtonLink
*/

.msc-button-link {
    display:inline-block;
    text-align:center;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size:1.15em;
    vertical-align:top;
    text-decoration:none;
    padding-top:5px;
    font-weight:bold;
    height:28px;
    border:2px inset black;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    background:linear-gradient(white, #d3dce0);
    width:115px;
}

/*Please Wait*/
#pleaseWait {
    position:fixed;
    display:none;
    height:100px;
    width:100px;
    background-color:rgba(0,0,0,.72);
    border:2px inset black;
    border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    top:40%;
    left:49%;
}

    #pleaseWait img {
        display:block;
        height:20px;
        width:40px;
        margin:auto; 
        margin-top:5px;   
    }

    #pleaseWait label {
        color:white;
        display:block;
        width:100px;
        height:20px;
        text-align:center;
        margin-top:25px;
    }

/*Email Form*/
#msc-email-container-obj label {
    display:inline-block;
    vertical-align:top;
    width:125px;
}

#msc-email-container-obj span input[type=text] {
    width:375px;
}

#msc-email-container-obj textarea {
    width: 380px;
    height:100px;
}


.msc-profile-error-list {
    position:fixed;
    display:block;
    width:400px;
    top:30%;
    left:40%;
    border:2px inset black;
    border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    background-color:rgba(0,0,0,.7);
    text-align:center;
    padding:10px;
}

.msc-dsp-cell .msc-dsp-margin {
    background-color:yellow;
}

/*Content Containers*/

#msc-content-container-1 {

}

#msc-content-container-1 p {
    overflow-y:auto;
    overflow-x:auto;
}

#msc-content-container-2 {
    /*overflow-y:auto;
    overflow-x:auto;*/
}

#msc-content-container-3 {
    overflow-y:auto;
    overflow-x:auto;
}

#msc-content-container-4 {
    overflow-y:auto;
    overflow-x:auto;
}

#msc-content-container-5 {
    overflow-y:auto;
    overflow-x:auto;
}
