﻿.txtArea {
    display:none;
}

.uce-wrapper {
    width: 730px;
}

.uce-iframe {
    width:95%;
    margin-left:3%;
}

.uce-buttonpane ul {
    padding:0px;
    background-color:rgba(255,255,255,.2);
    margin-left:3%;
    width:96%;
    height:55px;
    list-style-type:none;
    font-size:.65em;
    border:2px inset black;
}

    .uce-buttonpane ul li {
        display:inline-block;
        /*border:1px solid red;*/
        vertical-align:middle;
        margin:2px;
    }
        .uce-buttonpane ul li input {
            margin:auto;
        }

.uce-hidden {
    display:none;
}

.uce-inline-block {
    display:inline-block;
    height:20px;
    width:20px;
    /*border:1px solid yellow;*/
}

#backPanel {
    background-color:rgba(0,0,0,.6);
    display:none;
    width:150px;
    height:45px;
}

#slider {
    display:inline-block;
    margin-top:6px;
    width:85px;
}

#btnSave {
    margin-left:auto;
    margin-right:10px;
}

#lblPercent {
    display:inline-block;
    width:30px;
    margin-left:13px;
}



