﻿@model MusicSEC.ViewModels.COperationsLengthVM

@{
    List<SelectListItem> lstHours = new List<SelectListItem>();
    for(int i = 1; i < 13; i++)
    {
        lstHours.Add(new SelectListItem() { Text = i.ToString(), Value = i.ToString(), Selected = (i == 12) ? true : false });
    }
    List<SelectListItem> lstMins = new List<SelectListItem>();
    for(int i = 0; i < 60; i++)
    {
        string strText = (i < 10) ? "0" + i.ToString() : i.ToString();
        lstMins.Add(new SelectListItem() { Text = strText, Value = i.ToString(), Selected = (i == 0) ? true : false });
    }
    List<SelectListItem> lstAmPm = new List<SelectListItem>();
    lstAmPm.Add(new SelectListItem() { Text = "AM", Value = "0" });
    lstAmPm.Add(new SelectListItem() { Text = "PM", Value = "1" });

}


<div class="msc-dsp-row msc-oplength-container">
    <div class="msc-dsp-cell msc-oplength">
        @Html.TextBoxFor(model => model.strDayName, new { disabled = "disabled", @readonly = "readonly" })
    </div>
    <div class="msc-dsp-cell msc-oplength">
        @Html.DropDownListFor(model => model.intStartHours, lstHours)
        @Html.DropDownListFor(model => model.intStartMins, lstMins)
        @Html.DropDownListFor(model => model.intStartAm, lstAmPm)
    </div>
    <div class="msc-dsp-cell msc-oplength">
        @Html.DropDownListFor(model => model.intEndHours, lstHours)
        @Html.DropDownListFor(model => model.intEndMins, lstMins)
        @Html.DropDownListFor(model => model.intEndAm, lstAmPm)
    </div>
    <div class="msc-dsp-cell msc-oplength">
        @Html.CheckBoxFor(model => model.blnIsOperational)
    </div>
    @Html.HiddenFor(model => model.COperationsLengthID)
    @Html.HiddenFor(model => model.CBusinessSettingsID)
    @Html.HiddenFor(model => model.intDayCode)
</div>



