﻿@model MusicSEC.ViewModels.CInstructorVM
<style>
    .msc-instructor-create-container {
        height:350px;
        overflow-y:auto;
        overflow-x:hidden;
    }

        .msc-instructor-create-container select {
            width:310px;
        }

        .msc-instructor-create-container textarea {
            width:310px;
            height:75px;
        }
</style>
@using (Html.BeginForm("CreateInstructor", "CInstructor", new { enctype = "multipart/form-data" }, FormMethod.Post, new { id = "frmcreate" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true);
<div class="msc-instructor-create-container">
<div class="msc-dsp-table">
    <div class="msc-dsp-row">
        <div class="msc-dsp-cell">
            @Html.Action("UploadImage", "CUserImages", new { enableCaptions = false, enableButtonPane = false })
            @Html.DropDownList("LessonTypes", (SelectList)ViewBag.intLessonTypeID, "--Select Lesson Type--")
            <input type="button" name="btnAddLessonType" value="Add" />
            <input type="button" name="btnRemoveLessonType" value="Remove" />
            <!--ul to hold Lesson types-->
            <ul id="msc-ul" class="msc-ul">
            </ul>
            <input type="hidden" id="hdnLessonArray" name="strLessonTypeArray" />
        </div>
        <div class="msc-dsp-cell">
            <ul>
                <li>@Html.TextBoxFor(model => model.strFirstName, new { placeholder = "First Name" })</li>
                <li>@Html.TextBoxFor(model => model.strLastName, new { placeholder = "Last Name" })</li>
                <li>@Html.TextBoxFor(model => model.strEmailAddress, new { placeholder = "Email" })</li>
                <li>@Html.TextBoxFor(model => model.strPhoneNumber, new { placeholder = "Phone" })</li>
                <li>@Html.TextBoxFor(model => model.strAddress, new { placeholder = "Street Address" })</li>
                <li>@Html.TextBoxFor(model => model.strCity, new { placeholder = "City" })</li>
                <li>@Html.DropDownListFor(model => model.strState, (SelectList)ViewBag.States, "--Select State--")</li>
                <li>@Html.TextBoxFor(model => model.strZipCode, new { placeholder = "Zip" })</li>
            </ul>
            @Html.TextAreaFor(model => model.strProfileDescription, new { placeholder = "About" })
        </div>
    </div>
    <div class="msc-dsp-row">
        <div class="msc-dsp-cell">
            <input type="submit" value="Save" />
        </div>
    </div>
</div>
    <ul class="msc-profile-error-list">
    <li>@Html.ValidationMessageFor(model => model.strFirstName)</li>
    <li>@Html.ValidationMessageFor(model => model.strLastName)</li>
    <li>@Html.ValidationMessageFor(model => model.strEmailAddress)</li>
    <li>@Html.ValidationMessageFor(model => model.strPhoneNumber)</li>
    <li>@Html.ValidationMessageFor(model => model.strAddress)</li>
    <li>@Html.ValidationMessageFor(model => model.strCity)</li>
    <li>@Html.ValidationMessageFor(model => model.strState)</li>
    <li>@Html.ValidationMessageFor(model => model.strZipCode)</li>
    <li class="msc-right-align"><input type="button" id="btnErrorClose" value="Close" /></li>
</ul>
</div>
}


@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/instructor-crud.js"></script>
<script src="~/Scripts/jmask-util.js"></script>
<script>
    var errorlist = $('.msc-profile-error-list');
    var btnErrorClose = $('#btnErrorClose');
    errorlist.hide();

    btnErrorClose.click(function () {
        errorlist.hide();
    });

    $('form').on('submit', function () {
        if (!$(this).valid()) {
            errorlist.show();
        }
    });
</script>
