﻿@model MusicSEC.ViewModels.CInstructorVM

@using(Html.BeginForm("EditInstructor", "CInstructor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true);


<div class="msc-profile-instructor-container">
    <div class="msc-profile-instructor-row">
        <div class="msc-dsp-cell" style="padding:10px;">
          
            <img id="imgUploadPreview" class="msc-profile-lg" src="@string.Format("data:image/{0}; base64, {1}",  Model.strFileType, Convert.ToBase64String(Model.bytImage))" />
            
            <input type="file" name="fileUpload" id="fileUpload" accept="image/*" onchange="previewImage();" />
            @Html.DropDownList("LessonTypes", (SelectList)ViewBag.intLessonTypeID, "--Select Lesson Type--")
            <input type="button" name="btnAddLessonType" value="Add" />
            <input type="button" name="btnRemoveLessonType" value="Remove" />
            <!--ul to hold Lesson types-->
            <ul id="msc-ul" class="msc-ul">
                @foreach (var item in Model.lstLessonTypes)
                {
                    <li data-lessonid="@item.CLessonTypeID">@item.strLessonType</li>
                }
            </ul>
            <input type="hidden" id="hdnLessonArray" name="strLessonTypeArray" />
        </div>
        <div class="msc-dsp-cell">
            <ul>
                <li>@Html.TextBoxFor(model => model.strFirstName, new { placeholder = "First Name" })</li>
                <li>@Html.TextBoxFor(model => model.strLastName, new { placeholder = "Last Name" })</li>
                <li>@Html.TextBoxFor(model => model.strEmailAddress, new { placeholder = "Email" })</li>
                <li>@Html.TextBoxFor(model => model.strPhoneNumber, new { placeholder = "Phone" })</li>
                <li>@Html.TextBoxFor(model => model.strAddress, new { placeholder = "Street Address" })</li>
                <li>@Html.TextBoxFor(model => model.strCity, new { placeholder = "City" })</li>
                <li>@Html.DropDownListFor(model => model.strState, (SelectList)ViewBag.States, "--Select State--")</li>
                <li>@Html.TextBoxFor(model => model.strZipCode, new { placeholder = "Zip" })</li>
            </ul>
            @Html.TextAreaFor(model => model.strProfileDescription, new { placeholder = "About" })
            @Html.HiddenFor(model => model.CInstructorID)
            @Html.HiddenFor(model => model.CUserImageID)
        </div>
    </div>
    <div class="msc-dsp-row">
        <div class="msc-dsp-cell">
            <input type="submit" value="Save" />
            @Html.ActionLink("Cancel", "InstructorProfile", new { instructorId = Model.CInstructorID}, new { @class = "msc-color-link" })
        </div>
    </div>
</div>
}
<script src="~/Scripts/instructor-crud.js"></script>
<script src="~/Scripts/jmask-util.js"></script>