﻿@model MusicSEC.ViewModels.CInstructorVM


<div class="msc-profile-instructor-container">
    <div class="msc-profile-instructor-row">
        <div class="msc-dsp-cell">
            <img class="msc-mdm-img" src="@string.Format("data:image/{0}; base64, {1}",  Model.strFileType, Convert.ToBase64String(Model.bytImage))" />
            <ul>
                <li><label>What I teach</label></li>
                @foreach(var item in Model.lstLessonTypes)
                {
                    <li>@Html.DisplayFor(model => item.strLessonType)</li>
                }
            </ul>
        </div>   
        <div class="msc-dsp-cell">
            <ul>
                <li><label class="msc-label-for">Name : </label>@Html.DisplayFor(model => model.FullName)</li>
                <li><label class="msc-label-for">Email : </label>@Html.DisplayFor(model => model.strEmailAddress)</li>
                <li><label class="msc-label-for">Phone : </label>@Html.DisplayFor(model => model.strPhoneNumber)</li>
                @if(!Model.blnIsPublic)
                {
                    <li><label class="msc-label-for">Address : </label>@Html.DisplayFor(model => model.strAddress)</li>
                    <li><label class="msc-label-for">City : </label>@Html.DisplayFor(model => model.strCity)</li>
                    <li><label class="msc-label-for">State : </label>@Html.DisplayFor(model => model.strState)</li>
                    <li><label class="msc-label-for">Zip : </label>@Html.DisplayFor(model => model.strZipCode)</li>
                }
            </ul>
            @Html.TextAreaFor(model => model.strProfileDescription, new { id = "instructorProfileDescript", disabled = "disabled", @readonly = "readonly" })
        </div>
    </div>
    <div class="msc-dsp-row">
        <div class="msc-dsp-cell">
            @if(!Model.blnIsPublic)
            {
                @Html.ActionLink("Edit Profile", "EditInstructor", new { id = Model.CInstructorID }, new { @class = "msc-color-link" });
            }
        </div>
    </div>
</div>



