﻿@model MusicSEC.ViewModels.InitialInstructorAvailVMList

@using(Html.BeginForm())
{
<div class="msc-avail-container">
<div class="msc-avail-row">    
    @foreach(var item in Model.lstAvailability)
    {
        <div class="msc-avail-cell">
            <span class="msc-center-align">@Html.DisplayFor(modelitem => item.strDayName)</span>
           @* @Html.DisplayFor(modelItem => item.strDayName)*@
            <ul class="msc-avail-ul">
                <li>
                    <span>@Html.DisplayName("Start Time")</span>
                    <span>@Html.DisplayName("End Time")</span>
                    <span>@Html.DisplayName("Available")</span>
                </li>
                @foreach(var avail in item.lstHelpers)
                {
                 
                    <li>
                        <span class="msc-left-align">@Html.DisplayFor(modelItem => avail.strStartTime)</span>
                        <span class="msc-right-align">@Html.DisplayFor(modelItem => avail.strEndTime)</span>
                        <span>@Html.CheckBoxFor(modelItem => avail.blnAvailable)</span>
                        <input type="hidden" name="dayCode" value="@item.intDayCode" />                      
                        <input type="hidden" name="startTime" value="@avail.intStartTime" />
                    </li>
                }
            </ul>
        </div> 
    }
</div>
<input type="submit" value="Save" />
<input type="hidden" name="chkValues" />  
</div>
}
<script>
    var processed = false;
    $('form').on('submit', function (e) {
        e.preventDefault();
        if (!processed) {
            var chks = $('input[type=checkbox]');
            var vals = '';
            $.each(chks, function (index, chk) {
                var chk = $(chk);
                vals += (chk.is(':checked')) ? chk.val() : '';
                vals += ',';
            });
            $('input[name=chkValues]').val(vals);
            processed = true;
        }
        $(this).submit();
    });
</script>