﻿@model IEnumerable<MusicSEC.ViewModels.CInstructorVM>

<ul id="instructorList">
@foreach (var item in Model)
{
     <li class="msc-inst-br-item" data-id="@item.CInstructorID">
         @Html.DisplayFor(model => item)
     </li>
}
</ul>

<script>
    var instructorList = $('#instructorList');
    var currentInstructorID = 0;

    instructorList.children('li').click(function () {
        currentInstructorID = $(this).data('id');
        setHighlight();
    });

    function getID() {
        return currentInstructorID;
    };

    function setHighlight() {
        $.each(instructorList.children('li'), function (index, li) {
            var li = $(li);
            if (li.data('id') == currentInstructorID) {
                li.addClass('msc-highlight');
            }
            else {
                li.removeClass('msc-highlight');
            }
        });
    }


</script>
