﻿<style>
    #tblInvite {
        width:650px;
        padding:0px;
        margin-top:20px;
        margin-left:20px;
        height:40px;
    }
        #tblInvite tr {
            padding:0px;
            width:650px;
            display:block; 
            height:40px;
        }

            #tblInvite tr td {
                padding:0px;
                height:40px;
                display:inline-block;
            }

                #tblInvite tr td span {
                    display:inline-block;
                    width:auto;
                    height:40px;
                    width:500px;
                }
        #tblInvite input[type=email] {
            display:inline-block;
            margin:3px 0px 0px 0px;
            height:20px;
            border-bottom:2px inset black;
            width:350px;
        }
        #tblInvite input[type=button],  #tblInvite input[type=submit] {
           height:36px;
           margin-top:0px;
        }

    #tblInviteCell1 {
        width:125px;
    }

    #tblInviteCell2 {
        width:515px;
    }

    input[name=btnInviteSlide] {
        border-top-right-radius:0px;
        border-bottom-right-radius:0px;
        margin-right:0px;
    
    }

    .msc-slider input[type=submit] {
        border-top-left-radius:0px;
        border-bottom-left-radius:0px;
        margin-left:0px;
        vertical-align:top;
    }
</style>
@using(@Html.BeginForm("InviteInstructor","CInstructor", FormMethod.Post))
{
<table id="tblInvite">
    <tr>
        <td id="tblInviteCell1">
            <input type="button" name="btnInviteSlide" value="Invite" style="display:inline-block;" />
        </td>
        <td id="tblInviteCell2">
            <span class="msc-slider" >
                <input type="email" name="email" placeholder="instructor email" />
                <input type="submit" value="Send" />
            </span>
    </td>
    </tr>
</table>
}
<script>
    var btnSlide = $('input[name=btnInviteSlide]');
    var slider = $('.msc-slider');
    slider.hide();
    btnSlide.click(function () {
        slider.toggle('slide');
    });
</script>