﻿@model IEnumerable<MusicSEC.ViewModels.CInstructorVM>

@{
    ViewBag.Title = "Manage Instructors";

}

<div class="msc-mng-instruct-container">
    <span style="float:right;margin-top:15px;">
        <input type="text" id="txtActiveSearch" placeholder="search" />
        <input type="radio" name="rdActive" value="0" checked="checked" />
        <label>Active</label>
        <input type="radio" name="rdActive" value="1" />
        <label>Inactive</label>
    </span>
    @Html.Partial("../CInstructor/InviteInstructor")
  
<div class="msc-mng-instruct-row">   
    <div class="msc-dsp-cell">
        <h4>Active Instructors</h4>
        <ul id="sortable-one" class="msc-connected">
            @foreach (var item in Model)
            {
                if(Boolean.Parse(item.strActive))
                {
                    <li class="msc-div-table" title="Drag and drop to activate/deactivate instructors.">
                        @Html.DisplayFor(model => item)
                    </li> 
                }
            }
        </ul>
    </div>
    <div class="msc-dsp-cell">
        <h4>Inactive Instructors</h4>
        <ul id="sortable-two" class="msc-connected">
            @foreach (var item in Model)
            {
                if(!Boolean.Parse(item.strActive))
                {
                    <li class="msc-div-table"  title="Drag and drop to activate/deactivate instructors.">
                        @Html.DisplayFor(model => item)
                    </li> 
                }
            }
        </ul>
    </div>
</div>
    <p>
      <input type="button" id="btnUpdate" value="Update Changes" />
    </p>
</div>
<script src="~/Scripts/jmanage-entities.js"></script>
<script>
    function updateLists(activeList, inactiveList) {
        $.post('@Url.Action("ProcessActiveInstructors", "CInstructor")', { active: activeList, inactive: inactiveList });
    }
</script>
@*<script>
    var dirty = false;
    enableBtnUpdate(dirty);

    $(function () {
        $("#sortable-one, #sortable-two").sortable({
            connectWith: ".msc-connected",
            change: function () {
                dirty = true;
                enableBtnUpdate(dirty);
            }
        }).disableSelection();
    });

    $("#txtActiveSearch").keyup(function () {
        var active = $("input[name=rdActive]:checked").val();
        var sortableList = (active == 0) ? "#sortable-one li" : "#sortable-two li";

        $.each($(sortableList + " ul li"), function (index, li) {
            var li = $(li).children(".msc-name");
            if (li != null && li.text().trim().toUpperCase().match($("#txtActiveSearch").val().trim().toUpperCase())) {
                li.parents(sortableList).show();
            }
            else {
                li.parents(sortableList).hide();
            }            
        });
    });

    $("#btnUpdate").click(function () {
        var active = generateList("sortable-one");
        var inactive = generateList("sortable-two");
        updateInstructorLists(active, inactive);
    });

    function enableBtnUpdate(isDirty) {
        $("#btnUpdate").button({ disabled: !isDirty });
    };

    function generateList(selectorId) {
        var instructorList = "";
        $.each($("#" + selectorId + " li ul"), function (index, li) {
            var li = $(li);
            if (li.data("instructorid") != null) {
                instructorList += li.data("instructorid") + ",";
            }
        });
        return instructorList;
    };

    function updateInstructorLists(activeList, inactiveList) {
        $.post('@Url.Action("ProcessActiveInstructors", "CInstructor")', { active : activeList, inactive : inactiveList });
    }
</script>*@

